<!-- /templates/blog.liquid -->

{% section 'blog-banner' %}





<!--
    ____ ___  _   _ _____ _____ _   _ _____
   / ___/ _ \| \ | |_   _| ____| \ | |_   _|
  | |  | | | |  \| | | | |  _| |  \| | | |
  | |__| |_| | |\  | | | | |___| |\  | | |
   \____\___/|_| \_| |_| |_____|_| \_| |_|

-->

<article id="blog-page-content-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">

        <div id="blog-page-content">

          <div id="blog-page-article-container">

            {% for article in blog.articles %}

              <article class="blog-page-article">

                <div class="blog-page-article-title">
                  <h1><a href="{{ article.url }}">{{ article.title }}</a></h1>
                  

                  <!-- <h4>january 5, 2017</h4> -->
                  {% capture author %}{{ article.author }}{% endcapture %}
                  {% capture date %}<time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time>{% endcapture %}
                  <h4>{{ date }}</h4>
                </div> <!-- blog-page-article-title -->

                <div class="blog-page-article-banner">
                  <div class="manic-image-container">
                    <img src="" data-image-desktop="{{ article | img_url: 'master' }}">
                  </div>
                </div> <!-- blog-page-article-banner -->

                <div class="blog-page-article-content">
                  <div class="default-copy">

                    {% if article.excerpt.size > 0 %}
                      {{ article.excerpt }}
                    {% else %}
                      <p>{{ article.content | strip_html | truncatewords: 100 }}</p>
                    {% endif %}

                    <div class="cta-container">
                      <a href="{{ article.url }}" class="square-cta">Read more</a>

                      {% include 'blog-share' %}
                    </div>


                  </div>

                </div> <!-- blog-page-article-content -->

              </article> <!-- blog-page-article -->

            {% endfor %}




            
          </div> <!-- blog-page-article-container -->

          <div id="page-blog-load-more-container" style="display:none;">
            <div id="page-blog-load-more-btn">Load more</div>
          </div>


        </div> <!-- blog-page-content -->

      </div>
      <div class="col-md-3">



        {% include 'blog-sidebar' %}



      </div>
    </div>
  </div>

  

</article>