<!-- /templates/collection.liquid -->
{% comment %}

  For more information on collection tags:
    - http://docs.shopify.com/themes/liquid-variables/collection

{% endcomment %}


{% if collection.image %}
  <article id="default-page-banner-section">
    <div id="default-page-banner">
      {% if collection.title == "Gifts" %}
      <div class="temp-fix-2 manic-image-container" data-vertical-align="top" data-offset-height="-40">
      {% else %}
      <div class="manic-image-container" data-vertical-align="top" data-offset-height="-40">
      {% endif %}
        <img src="" 
          data-image-desktop="{{ collection.image.src | collection_img_url: 'master' }}" 
          data-image-mobile="{{ collection.image.src | collection_img_url: '1152x570', crop: 'center' }}"
          data-image-tablet="{{ collection.image.src | collection_img_url: '1152x570', crop: 'center' }}"
          alt="{{ collection.image.alt }}">
      }
      </div>
    </div>
  </article>

{% else %}

  <article id="default-page-banner-section">
    <div id="default-page-banner">
      <div class="manic-image-container">
        <img src="" 
          data-image-desktop="{{ 'collection-banner.jpg' | asset_url }}" 
          data-image-mobile="{{ 'collection-banner.jpg' | asset_img_url: '640x500', crop: 'center' }}" 
          data-image-tablet="{{ 'collection-banner.jpg' | asset_img_url: '1152x570', crop: 'center' }}"
          alt="Collection Page Banner">
      </div>
    </div>
  </article>

{% endif %}




<!--
   ____  ____   ___  ____  _   _  ____ _____
  |  _ \|  _ \ / _ \|  _ \| | | |/ ___|_   _|
  | |_) | |_) | | | | | | | | | | |     | |
  |  __/|  _ <| |_| | |_| | |_| | |___  | |
  |_|   |_| \_\\___/|____/ \___/ \____| |_|

-->

<article id="collection-page-product-section">
  <div class="container-fluid has-breakpoint">

    <div class="row">
      <div class="col-md-3 col-tablet-landscape-md-1 col-sm-2"></div>
      <div class="col-md-6 col-tablet-landscape-md-10 col-sm-8">
        
        <div id="collection-page-product-title">
          {% if collection.description != blank %}
            {{ collection.description }}
          {% else %}
            <h2>Shop our Teas</h2>
            <p>We have created a selection of specially crafted teas that we hope you will enjoy just as much as we have enjoyed searching for them.</p>
          {% endif %}
        </div> <!-- collection-page-product-title -->

      </div>
    </div> <!-- row -->
    <div class="row">
      <div class="col-md-12">

        {% capture all_tea_products %}
          {% for product in collection.products %}

            {% assign is_product_tea = false %}
            {% for c in product.collections %}
              {% if c.handle == 'teas' %}
                {% assign is_product_tea = true %}
              {% endif %}
            {% endfor %}

            {% if is_product_tea == true %}
              {% include 'product-grid-item' %}
            {% endif %}

          {% endfor %}
        {% endcapture %}

        {% capture other_products %}
          {% for product in collection.products %}

            {% assign is_product_tea = false %}
            {% for c in product.collections %}
              {% if c.handle == 'teas' %}
                {% assign is_product_tea = true %}
              {% endif %}
            {% endfor %}

            {% if is_product_tea == false %}
              {% include 'product-grid-item' %}
            {% endif %}

          {% endfor %}
        {% endcapture %}
        

        <div id="product-item-container">

          <div class="product-item-tea-row">
            <div class="row">
              {{ all_tea_products }}
            </div> <!-- row -->
          </div> <!-- product-item-tea-row -->

          <div class="product-item-row">
            <div class="row">
              {{ other_products }}
            </div>
          </div> <!-- product-item-row -->
          
        </div> <!-- product-item-container -->




      </div> <!-- col-md-12 -->
    </div> <!-- row -->
  </div>
</article>




