<!-- /templates/index.liquid -->
{% comment %}

  This is the homepage of your site.

  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}




{% section 'home-banner' %}



<!--
   _   _  ___  __  __ _____   ___ _   _ _____ ____   ___
  | | | |/ _ \|  \/  | ____| |_ _| \ | |_   _|  _ \ / _ \
  | |_| | | | | |\/| |  _|    | ||  \| | | | | |_) | | | |
  |  _  | |_| | |  | | |___   | || |\  | | | |  _ <| |_| |
  |_| |_|\___/|_|  |_|_____| |___|_| \_| |_| |_| \_\\___/

-->

<article id="home-page-intro-section">
  <div class="container-fluid has-breakpoint">
    <div class="row">
      <div class="col-md-5">

        <div class="default-copy">

          {% if settings.home_page_intro_pretitle != blank %}
            <h4>{{ settings.home_page_intro_pretitle }}</h4>
          {% endif %}
          {% if settings.home_page_intro_title != blank %}
            <h1>{{ settings.home_page_intro_title }}</h1>
          {% endif %}
          {% if settings.home_page_intro_copy != blank %}
            <p>{{ settings.home_page_intro_copy }}</p>
          {% endif %}

          <div class="cta-container lower-version">
            <a href="javascript:void(0);" class="square-cta">Learn More</a>
          </div>
        </div>

      </div>
      <div class="col-md-7">

        <div class="manic-image-container">
          <img src="" data-image-desktop="{{ 'home-intro.jpg' | asset_url }}">

        </div>

      </div>
    </div>
  </div>
</article>


<!--
   _   _  ___  __  __ _____   _____ _____    _  _____ _   _ ____  _____ ____
  | | | |/ _ \|  \/  | ____| |  ___| ____|  / \|_   _| | | |  _ \| ____|  _ \
  | |_| | | | | |\/| |  _|   | |_  |  _|   / _ \ | | | | | | |_) |  _| | | | |
  |  _  | |_| | |  | | |___  |  _| | |___ / ___ \| | | |_| |  _ <| |___| |_| |
  |_| |_|\___/|_|  |_|_____| |_|   |_____/_/   \_\_|  \___/|_| \_\_____|____/

-->

<article id="home-page-featured-section">
  <div class="manic-image-container has-full-width">
    <img src="" data-image-desktop="{{ 'home-featured.jpg' | asset_url }}">
  </div>
</article>


<!--
   _   _  ___  __  __ _____   ____  _   _  ___  ____
  | | | |/ _ \|  \/  | ____| / ___|| | | |/ _ \|  _ \
  | |_| | | | | |\/| |  _|   \___ \| |_| | | | | |_) |
  |  _  | |_| | |  | | |___   ___) |  _  | |_| |  __/
  |_| |_|\___/|_|  |_|_____| |____/|_| |_|\___/|_|

-->

<article id="home-page-shop-section">
  <div class="container-fluid has-breakpoint">
    <div class="row">
      <div class="col-md-12">

        <div id="home-page-shop-title">
          <h2>Shop our Kindred Teas Range</h2>
        </div>


        <div id="home-page-shop-item-container">

          {% comment %}
            Loop through products in your Frontpage collection.
          {% endcomment %}
          {% for product in collections.frontpage.products %}

            <a href="{{ product.url | within: collection }}" title="{{ product.title }}" class="home-page-shop-item">
              <div class="manic-image-container has-show-all">
                <img src="" data-image-desktop="{{ product.featured_image.src | img_url: 'master' }}">
              </div>
            </a>

          {% endfor %}

        </div> <!-- home-page-shop-item-container -->


      </div>
    </div>
  </div>
</article>

<!--
   _   _  ___  __  __ _____   __  __  ___  ____  _____
  | | | |/ _ \|  \/  | ____| |  \/  |/ _ \|  _ \| ____|
  | |_| | | | | |\/| |  _|   | |\/| | | | | |_) |  _|
  |  _  | |_| | |  | | |___  | |  | | |_| |  _ <| |___
  |_| |_|\___/|_|  |_|_____| |_|  |_|\___/|_| \_\_____|

-->

<article id="home-page-more-section">
  <div class="container-fluid has-breakpoint">
    <div class="row">
      <div class="col-md-12">

        <div id="home-page-more-title">
          <h2>More from Kindred Teas</h2>
        </div>

      </div>
    </div> <!-- row -->
    <div class="row">
      <div class="col-md-4">
        <div class="home-page-more-item">
          <div class="manic-image-container has-full-width">
            <img src="" data-image-desktop="{{ 'home-more-01.jpg' | asset_url }}">
          </div>
          <div class="default-copy center-version">

            {% if settings.home_page_more_title_01 != blank %}
              <h3>{{ settings.home_page_more_title_01 }}</h3>
            {% endif %}
            {% if settings.home_page_more_copy_01 != blank %}
              <p>{{ settings.home_page_more_copy_01 }}</p>
            {% endif %}

            <div class="cta-container">
              <a href="" class="arrow-cta">Learn More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="home-page-more-item">
          <div class="manic-image-container has-full-width">
            <img src="" data-image-desktop="{{ 'home-more-02.jpg' | asset_url }}">
          </div>
          <div class="default-copy center-version">

            {% if settings.home_page_more_title_02 != blank %}
              <h3>{{ settings.home_page_more_title_02 }}</h3>
            {% endif %}
            {% if settings.home_page_more_copy_02 != blank %}
              <p>{{ settings.home_page_more_copy_02 }}</p>
            {% endif %}

            <div class="cta-container">
              <a href="" class="arrow-cta">Learn More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="home-page-more-item">
          <div class="manic-image-container has-full-width">
            <img src="" data-image-desktop="{{ 'home-more-03.jpg' | asset_url }}">
          </div>
          <div class="default-copy center-version">

            {% if settings.home_page_more_title_03 != blank %}
              <h3>{{ settings.home_page_more_title_03 }}</h3>
            {% endif %}
            {% if settings.home_page_more_copy_03 != blank %}
              <p>{{ settings.home_page_more_copy_03 }}</p>
            {% endif %}

            <div class="cta-container">
              <a href="" class="arrow-cta">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- row -->
  </div>
</article>


<!--
   _   _  ___  __  __ _____   ___ _   _ ____ _____  _    ____ ____      _    __  __
  | | | |/ _ \|  \/  | ____| |_ _| \ | / ___|_   _|/ \  / ___|  _ \    / \  |  \/  |
  | |_| | | | | |\/| |  _|    | ||  \| \___ \ | | / _ \| |  _| |_) |  / _ \ | |\/| |
  |  _  | |_| | |  | | |___   | || |\  |___) || |/ ___ \ |_| |  _ <  / ___ \| |  | |
  |_| |_|\___/|_|  |_|_____| |___|_| \_|____/ |_/_/   \_\____|_| \_\/_/   \_\_|  |_|

-->

<article id="home-instagram-section">
  <div class="container-fluid has-breakpoint">
    <div class="row">
      <div class="col-md-12">

        <div id="home-instagram-title">
          <h2>Sharing Our Moments</h2>
        </div>
        
        <!-- <div id="home-instagram-slider" data-user-id="332486289" data-access-token="332486289.1677ed0.721d54000fb84f659fb0df01a491fa71"> -->
        <div id="home-instagram-slider" data-user-id="4472980938" data-access-token="4472980938.1677ed0.f7c09cd3b6984c8687fda1bd534dbb84">
          <div id="home-instagram-item-container">
          </div> <!-- home-instagram-item-container -->
        </div>

        <div id="home-page-instagram-bottom">
          <h4>follow us @kindredteas</h4>
          <ul>

            {% if settings.social_facebook_link != blank %}
              <li><a href="{{ settings.social_facebook_link }}" class="fa fa-facebook" title="{{ shop.name }} on Facebook" target="_blank"></a></li>
            {% endif %}

            {% if settings.social_twitter_link != blank %}
              <li><a href="{{ settings.social_twitter_link }}" class="fa fa-twitter" title="{{ shop.name }} on Twitter" target="_blank"></a></li>
            {% endif %}

            {% if settings.social_instagram_link != blank %}
              <li><a href="{{ settings.social_instagram_link }}" class="fa fa-instagram" title="{{ shop.name }} on Instagram" target="_blank"></a></li>
            {% endif %}

            {% if settings.social_pinterest_link != blank %}
              <li><a href="{{ settings.social_pinterest_link }}" class="fa fa-pinterest" title="{{ shop.name }} on Pinterest" target="_blank"></a></li>
            {% endif %}

            <!-- 
            <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
            <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
            <li><a href="javascript:void(0);" class="fa fa-instagram"></a></li>
            <li><a href="javascript:void(0);" class="fa fa-pinterest"></a></li>
            -->

          </ul>
        </div> <!-- home-page-instagram-bottom -->

      </div>
    </div>
  </div>
</article>



{% include 'mailing-popup' %}