<article id="contact-page-form-section">
  <div class="container-fluid has-breakpoint">

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">

        <div id="contact-page-form-title">
          <h2>Bank Deposit</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim </p>
        </div> <!-- contact-page-form-title -->

      </div>
    </div>
    

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">

        <div id="contact-page-form-step-container">
          <div class="row">
            <div class="col-md-4">
              <div class="step-item">
                <h4>Step 1.</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="step-item">
                <h4>Step 1.</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="step-item">
                <h4>Step 1.</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
              </div>
            </div>
          </div>
        </div> <!-- contact-page-form-step-container -->

      </div>
    </div>



    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">

        <div id="contact-page-form-container">
          <div id="contact-page-form" class="simple-form-check add-element-version">

            {% form 'contact' %}

              {% if form.posted_successfully? %}
                <p class="note form-success">
                  {{ 'contact.form.post_success' | t }}
                </p>
              {% endif %}

              {{ form.errors | default_errors }}


              <div class="row">
                <div class="col-md-6">

                  <div class="contact-page-column-01">
                    <label for="ContactFormSalutation">salutation</label>
                    <div class="dropdown">
                      <select id="ContactFormSalutation" name="contact[salutation]">
                        <option value="">Please select</option>
                        <option>Mr.</option>
                        <option>Ms.</option>
                        <option>Mrs.</option>
                        <option>Dr.</option>
                      </select>
                    </div>

                    <label for="ContactFormEmail">{{ 'contact.form.email' | t }}<span class="asterisk">*</span></label>
                    <input type="email" id="ContactFormEmail" class="input-full required only-email" name="contact[email]" placeholder="Please enter your email address" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">

                    <label>preference of contact</label>

                    <div class="row">
                      <div class="col-md-4">

                        <div class="checkbox">
                          <input type="checkbox" value="email" name="contact[contact preference]">
                          <label class="checkbox-label"><span></span><p>Email</p></label>
                        </div>

                      </div>
                      <div class="col-md-4">

                        <div class="checkbox">
                          <input type="checkbox" value="phone" name="contact[contact preference]">
                          <label class="checkbox-label"><span></span><p>Phone</p></label>
                        </div>
                        
                      </div>
                    </div>
                  </div> <!-- contact-page-column-01 -->

                </div>
                <div class="col-md-6">

                  <div class="contact-page-column-02">
                    
                    {% assign name_attr = 'contact.form.name' | t | handle %}
                    <label for="ContactFormName">{{ 'contact.form.name' | t }}<span class="asterisk">*</span></label>
                    <input type="text" id="ContactFormName" class="required input-full" name="contact[{{ name_attr }}]" placeholder="How should we address you" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}">

                    {% assign name_attr = 'contact.form.phone' | t | handle %}
                    <label for="ContactFormPhone">{{ 'contact.form.phone' | t }}</label>
                    <input type="tel" id="ContactFormPhone" class="input-full" name="contact[{{ name_attr }}]" placeholder="Please include country code" pattern="[0-9\-]*" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.phone }}{% endif %}">




                    <label for="ContactFormOrderID">order id (if applicable)</label>
                    <input type="text" id="ContactFormOrderID" name="contact[orderid]" placeholder="Write your order ID here">
                    
                  </div> <!-- contact-page-column-02 -->

                </div>
              </div> <!-- row -->

              <label>subject</label>
              <input type="text" id="ContactFormSubject" name="contact[subject]" placeholder="Please enter your subject">

              <label>message<span class="asterisk">*</span></label>
              <textarea id="ContactFormMessage" class="required" name="contact[body]" placeholder="Please write your message here."></textarea>

              <div class="cta-container">
                <button type="submit" class="square-cta form-check-force-submit">send message</button>
              </div>




            {% endform %}
                    
          </div>
        </div> <!-- #contact-page-form-container -->

      </div>
    </div>
  </div>
</article>