<!-- /templates/page.contact.liquid -->




<article id="contact-page-form-section">

  {% section 'contact-mobile-map' %}

  <div class="container-fluid has-breakpoint">

    <div class="row">
      <div class="col-md-2 col-tablet-landscape-md-1 col-sm-0 col-xs-0"></div>
      <div class="col-md-8 col-tablet-landscape-md-10 col-sm-12 col-xs-12">

        {% section 'contact-title' %}

      </div>
    </div>



    <div class="row">
      <div class="col-md-2 col-tablet-landscape-md-1 col-sm-0 col-xs-0"></div>
      <div class="col-md-8 col-tablet-landscape-md-10 col-sm-12 col-xs-12">

        <div id="contact-page-form-container">
          <div id="contact-page-form" class="simple-form-check add-element-version">

            {% form 'contact' %}

              {% if form.posted_successfully? %}
                <p class="note form-success">
                  {{ 'contact.form.post_success' | t }}
                </p>
              {% endif %}

              {{ form.errors | default_errors }}


              <div class="row">
                <div class="col-md-6">

                  <div class="contact-page-column-01">

                    {% assign name_attr = 'contact.form.name' | t | handle %}
                    <label for="ContactFormName">{{ 'contact.form.name' | t }}<span class="asterisk">*</span></label>
                    <input type="text" id="ContactFormName" class="required first-input-item" name="contact[{{ name_attr }}]" placeholder="How should we address you" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}">
                    
                    <label for="ContactFormEmail">{{ 'contact.form.email' | t }}<span class="asterisk">*</span></label>
                    <input type="text" id="ContactFormEmail" class="required only-email" name="contact[email]" placeholder="Please enter your email address" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">

                    
                  </div> <!-- contact-page-column-01 -->

                </div>
                <div class="col-md-6">

                  <div class="contact-page-column-02">
                    
                    {% assign name_attr = 'contact.form.phone' | t | handle %}
                    <label for="ContactFormPhone">{{ 'contact.form.phone' | t }}</label>
                    <div class="kindred-intltelinput-container"> 
                      <input type="text" id="ContactFormPhone" class="kindred-intltelinput" name="contact[{{ name_attr }}]" placeholder="Please provide your contact no." value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.phone }}{% endif %}">
                    </div>
                    
                    {% assign name_attr = 'contact.form.order_id' | t | handle %}
                    <label for="ContactFormOrderID">order id (if applicable)</label>
                    <input type="text" id="ContactFormOrderID" name="contact[{{ name_attr }}]" placeholder="Write your order ID here">
                    
                  </div> <!-- contact-page-column-02 -->

                </div>
              </div> <!-- row -->

              <label>subject</label>
              <input type="text" id="ContactFormSubject" name="contact[subject]" placeholder="Please enter your subject">

              <label>message<span class="asterisk">*</span></label>
              <textarea id="ContactFormMessage" class="required" name="contact[body]" placeholder="Please write your message here."></textarea>

              <div class="cta-container">
                <button type="submit" class="square-cta form-check-force-submit">send message</button>
              </div>




            {% endform %}
                    
          </div>
        </div> <!-- #contact-page-form-container -->

      </div>
    </div>
  </div>
</article>

{% section 'contact-detail' %}