<!-- /templates/product.liquid -->
{% comment %}

  Rich snippets (itemscope, itemtype, etc.) for products are a theme requirement,
  and allow search engines to easily understand what the content is.

  For more information on these Scheme.org tags, visit:
    - http://schema.org/docs/gs.html

{% endcomment %}




<div itemscope itemtype="http://schema.org/Product">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {% assign current_variant = product.selected_or_first_available_variant %}



  {% comment %}
    If product has multiple incredients, add responsiveness for height 
  {% endcomment %}

  {% assign extra_product_detail_class = '' %}
  {% if product.metafields.description.p11_multiple_ingredients != blank %}
    {% assign extra_product_detail_class = 'multiple-ingredient-version' %}
  {% endif %}
  

  <article id="product-page-detail-section" class="{{ extra_product_detail_class }}">

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">

          <div id="product-page-detail-image-container">
            <div id="product-page-detail-image">

              <div class="manic-image-container" data-vertical-align="bottom">
                
                {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
                {% if product.images.size >= 2 %}
                  <img src="" data-image-desktop="{{ product.images[1]  | product_img_url: 'master' }}" alt="{{ product.images[1].alt | escape }}">
                {% else %}
                  <img src="" data-image-desktop="{{ featured_image | img_url: 'master' }}" alt="{{ featured_image.alt | escape }}" >
                  <!-- <img src="" data-image-desktop="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" > -->
                {% endif %}

              </div>

            </div> <!-- product-page-detail-image -->
          </div> <!-- product-page-detail-image-container -->

        </div>
        <div class="col-md-6">

          <div id="product-page-detail-copy-container">
            <div id="product-page-detail-copy">

              <div id="product-page-detail-copy-content">

                <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">

                  <meta itemprop="priceCurrency" content="{{ shop.currency }}">
                  <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

                  {% comment %}
                    ID addToCartForm is a selector for the ajax cart plugin
                  {% endcomment %}
                  <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical">




                    <h1 class="product-name" itemprop="name">{{ product.title }}</h1>
                    <p class="product-price">

                      <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                      <span id="ProductPrice" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                        {{ current_variant.price | money }}
                      </span>

                      {% if product.compare_at_price_max > product.price %}
                        <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
                        <p id="ComparePrice">
                          {{ 'products.product.compare_at' | t }} {{ current_variant.compare_at_price | money }}
                        </p>
                      {% endif %}

                    </p> <!-- product-price -->
                    
                    <div class="product-description" itemprop="description">
                      <div class="default-copy">
                        {{ product.description }}
                      </div>
                    </div>


                    <div class="product-variant-container">

                      {% comment %}
                        Add product variants as a dropdown.
                          - By default, each variant (or combination of variants) will display as its own <option>
                          - To separate these into multiple steps, which we suggest, use option_selection.js (see below)

                        You can leverage jQuery to add a callback on page load and each time the select element changes:
                          - Include option_selection.js (as seen at the bottom of this file)
                          - This allows you to use JavaScript anytime the variant dropdown changes
                          - This also separates out your variant options (ie. size, color, etc.) to separate select elements

                        For more information on products with multiple options, visit:
                          - http://docs.shopify.com/support/your-website/themes/can-i-make-my-theme-use-products-with-multiple-options#update-product-liquid
                      {% endcomment %}
                      <select name="id" id="productSelect" class="product-single__variants">
                        {% for variant in product.variants %}
                          {% if variant.available %}

                            {% comment %}
                              Note: if you use option_selection.js, your <select> tag will be overwritten, meaning what you have inside <option> will not reflect what you coded below.
                            {% endcomment %}
                            <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

                          {% else %}
                            <option disabled="disabled">
                              {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                            </option>
                          {% endif %}
                        {% endfor %}
                      </select>
                      
                    </div>








                    {% if product.metafields.description.p01_origin != blank and product.metafields.description.p02_teatype != blank %}
                      <div class="row">
                        <div class="col-md-6">

                          {% if product.metafields.description.p01_origin != blank %}
                            <div class="product-detail inline-version">
                              <label>Origin</label>
                              <p>{{ product.metafields.description.p01_origin }}</p>
                            </div>
                          {% endif %}

                        </div>
                        <div class="col-md-6">

                          {% if product.metafields.description.p02_teatype != blank %}
                            <div class="product-detail inline-version">
                              <label>Tea Type</label>
                              <p>{{ product.metafields.description.p02_teatype }}</p>
                            </div>
                          {% endif %}

                        </div>
                      </div> <!-- row -->
                    {% endif %}

                    

                    <div class="row">
                      <div class="col-md-6">
                        {% if product.metafields.description.p03_ingredients != blank %}
                          <div class="product-detail">
                            <label>ingredients</label>
                            <p>{{ product.metafields.description.p03_ingredients }}</p>
                          </div>
                        {% endif %}


                        {% if product.metafields.description.p04_tastingnotes != blank and product.metafields.description.p11_multiple_ingredients == blank %}
                          <div class="product-detail">
                            <label>tasting notes</label>
                            <p>{{ product.metafields.description.p04_tastingnotes }}</p>
                          </div>
                        {% endif %}

                        {% if product.metafields.description.p09_netweightcustom != blank %}
                          <div class="product-detail">
                            <label>net weight</label>
                            <p>{{ product.metafields.description.p09_netweightcustom }}</p>
                          </div>
                        {% endif %}

                        
                        {% if product.metafields.description.p12_brewingcustom != blank %}
                          <div class="product-detail">
                            <label>brewing instructions</label>
                            <p>{{ product.metafields.description.p12_brewingcustom }}</p>
                          </div>
                        {% endif %}



                        {% if product.metafields.description.p13_dimension != blank %}
                          <div class="product-detail">
                            <label>Dimensions</label>
                            <p>{{ product.metafields.description.p13_dimension }}</p>
                          </div>
                        {% endif %}

                        {% if product.metafields.description.p15_characteristicstyle != blank %}
                          <div class="product-detail">
                            <label>Characteristic Style</label>
                            <p>{{ product.metafields.description.p15_characteristicstyle }}</p>
                          </div>
                        {% endif %}



                        {% if product.metafields.description.p11_multiple_ingredients != blank %}
                          <div class="product-detail">
                            <label>ingredients</label>
                          </div>

                          {% assign ingredient_array = product.metafields.description.p11_multiple_ingredients | split: '||||' %}
                          {% for ingredient_array_item in ingredient_array %}
                            <div class="product-detail multiple-version">
                              <p>{{ ingredient_array_item }}</p>
                            </div>
                          {% endfor %}
                        {% endif %}
                        
                        
                        

                      </div>
                      <div class="col-md-6">


                        {% if product.metafields.description.p04_tastingnotes != blank and product.metafields.description.p11_multiple_ingredients != blank %}
                          <div class="product-detail">
                            <label>tasting notes</label>
                            <p>{{ product.metafields.description.p04_tastingnotes }}</p>
                          </div>
                        {% endif %}

                        {% if product.metafields.description.p05_brewingtemperature != blank || product.metafields.description.p06_brewingvolume != blank || product.metafields.description.p07_brewingtearatio != blank || product.metafields.description.p08_brewingtime != blank %}
                          <div class="product-detail">
                            <label>brewing instructions</label>
                            <ul>
                              {% if product.metafields.description.p05_brewingtemperature != blank %}
                                <li><span class="product-detail-icon product-detail-icon-thermometer"></span>{{ product.metafields.description.p05_brewingtemperature }}</li>
                              {% endif %}

                              {% if product.metafields.description.p06_brewingvolume != blank %}
                                <li><span class="product-detail-icon product-detail-icon-teapot"></span>{{ product.metafields.description.p06_brewingvolume }}</li>
                              {% endif %}

                              {% if product.metafields.description.p07_brewingtearatio != blank %}
                                <li><span class="product-detail-icon product-detail-icon-leaf"></span>{{ product.metafields.description.p07_brewingtearatio }}</li>
                              {% endif %}

                              {% if product.metafields.description.p08_brewingtime != blank %}
                                <li><span class="product-detail-icon product-detail-icon-clock"></span>{{ product.metafields.description.p08_brewingtime }}</li>
                              {% endif %}

                            </ul>
                          </div>
                        {% endif %}

                        


                        {% if product.metafields.description.p14_material != blank %}
                          <div class="product-detail">
                            <label>Material</label>
                            <p>{{ product.metafields.description.p14_material }}</p>
                          </div>
                        {% endif %}


                      </div>
                    </div> <!-- row -->

                    <hr>

                    <div class="product-cta-container-space"></div>

                    <div class="row">
                      <div class="col-md-6">

                        <div class="product-quantity-container">
                          <label for="Quantity" class="quantity-selector">{{ 'products.product.quantity' | t }}</label>
                          <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
                        </div>

                      </div>
                      <div class="col-md-6">

                        <div class="cta-container">
                          <button type="submit" name="add" id="AddToCart" class="square-cta">
                            <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
                          </button>
                        </div>

                      </div>
                    </div>




                    
                  </form> <!-- AddToCartForm -->
                </div> <!-- offer shema -->



                


              </div> <!-- product-page-detail-copy-content -->



            </div> <!-- product-page-detail-copy -->
          </div> <!-- product-page-detail-copy-container -->

        </div>
      </div>
    </div>

  </article>
</div>















{% include 'related-products' %}








{% comment %}
  To take advantage of a callback on the select dropdown, add option_selection.js
  and customize the JS in timber.productPage as needed.

  Currently, timber.productPage does the following:
    - Hides your <select> tag from above
    - Breaks out the product variants into separate product options, if more than one exists
    - Generates a <select> tag for each product option
    - Enables/disables elements based on variant availability

  Callback notes:
    - Keep the callback available to the global scope (window.selectCallback) so that advanced
      addons can override it.
      * E.g. multiple currencies http://docs.shopify.com/manual/configuration/store-customization/currencies-and-translations/currencies/how-to-toggle-between-two-currencies
{% endcomment %}
{{ 'option_selection.js' | shopify_asset_url | script_tag }}
<script>
  var selectCallback = function(variant, selector) {
    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector
    });
  };

  jQuery(function($) {
    new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    
    $('.selector-wrapper .single-option-selector').wrap('<div class="single-option-selector-custom-wrapper"></div>');

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
    {% endif %}

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      $('.selector-wrapper').hide();
    {% endif %}
  });
</script>
