<!--
   _   _  ___  __  __ _____   ____    _    _   _ _   _ _____ ____
  | | | |/ _ \|  \/  | ____| | __ )  / \  | \ | | \ | | ____|  _ \
  | |_| | | | | |\/| |  _|   |  _ \ / _ \ |  \| |  \| |  _| | |_) |
  |  _  | |_| | |  | | |___  | |_) / ___ \| |\  | |\  | |___|  _ <
  |_| |_|\___/|_|  |_|_____| |____/_/   \_\_| \_|_| \_|_____|_| \_\

-->



<article id="home-page-banner-section" class="visible-md visible-lg">
  <div id="home-page-banner">

    <div class="home-page-banner-item manic-padding-container">
      <div class="manic-image-container manic-padding-image home-page-banner-image">
        <img src="" data-image-desktop="{{ section.settings.content-image.src | img_url: 'master' }}">
      </div>
      <div class="text-overlay shop-all-version">
        <div class="container-fluid has-breakpoint">
          <div class="row">
            <div class="col-md-2 col-sm-3"></div>
            <div class="col-md-8 col-sm-6">
              <div class="manic-padding-text" data-y="320">

                {% if section.settings.shopallcopy != blank %}
                  <h1>{{ section.settings.shopallcopy }}</h1>
                {% endif %}

                {% if section.settings.link != blank and section.settings.linkcopy != blank %}
                  <div class="cta-container">
                    <a href="{{ section.settings.link }}" class="square-cta">{{ section.settings.linkcopy }}</a>
                  </div>
                {% endif %}

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    {% for block in section.blocks limit: section.blocks.size %}

      <div class="home-page-banner-item manic-padding-container">
        <div class="manic-image-container manic-padding-image home-page-banner-image">
          {% if block.settings.image != blank %}
            <img src="" data-image-desktop="{{ block.settings.image | img_url: 'master' }}">
          {% else %}
            <img src="" data-image-desktop="{{ 'product-no-image.jpg' | asset_url }}">
          {% endif %}
        </div>
        <div class="text-overlay">
          <div class="container-fluid has-breakpoint">
            <div class="row">
              <div class="col-md-4 col-sm-3">

                <div class="home-page-banner-overlay-image">
                  <div class="manic-image-container has-show-all">
                    {% if block.settings.image != blank %}
                      <img src="" data-image-desktop="{{ block.settings.overlayimage | img_url: 'master' }}">
                    {% else %}
                      <img src="" data-image-desktop="{{ 'product-no-image.jpg' | asset_url }}">
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-md-8 col-sm-9">
                <div class="manic-padding-text" data-y="{% if block.settings.textposition != blank %}{{ block.settings.textposition }}{% else %}400{% endif %}">
                  {% if block.settings.text != blank %}
                    <h1>{{ block.settings.text }}</h1>
                  {% endif %}
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    {% endfor %}

  </div> <!-- home-page-banner -->
</article>




<article id="home-page-banner-section-mobile" class="visible-sm visible-xs">

  <div id="home-page-banner-mobile">


    <div class="home-page-banner-item-mobile">
      <div class="banner-image-bg">
        <div class="manic-image-container">
          <img src="" data-image-mobile="{{ section.settings.content-image.src | img_url: 'master' }}" data-image-tablet="{{ section.settings.content-image.src | img_url: 'master' }}">
        </div>
      </div>
      <div class="text-overlay top-version">
        {% if section.settings.shopallcopy != blank %}
          <h1><span>{{ section.settings.shopallcopy }}</span></h1>
        {% endif %}

        {% if section.settings.link != blank and section.settings.linkcopy != blank %}
          <div class="cta-container">
            <a href="{{ section.settings.link }}" class="square-cta">{{ section.settings.linkcopy }}</a>
          </div>
        {% endif %}
      </div>
    </div>

    {% for block in section.blocks limit: section.blocks.size %}

      <div class="home-page-banner-item-mobile">
        <div class="banner-image-bg">
          <div class="manic-image-container">
            {% if block.settings.image != blank %}
              <img src="" data-image-mobile="{{ block.settings.image | img_url: '620x630', crop: 'center' }}" data-image-tablet="{{ block.settings.image | img_url: 'master' }}">
            {% else %}
              <img src="" data-image-mobile="{{ 'product-no-image.jpg' | asset_url }}" data-image-tablet="{{ 'product-no-image.jpg' | asset_url }}">
            {% endif %}
          </div>
        </div>
        <div class="banner-image-overlay">
          <div class="manic-image-container has-show-all">
            {% if block.settings.image != blank %}
              <img src="" data-image-mobile="{{ block.settings.overlayimage | img_url: 'master' }}">
            {% else %}
              <img src="" data-image-mobile="{{ 'product-no-image.jpg' | asset_url }}">
            {% endif %}
          </div>
        </div>
        <div class="text-overlay">
          {% if block.settings.text != blank %}
            <h1>{{ block.settings.text }}</h1>
          {% endif %}
        </div>
      </div>

    {% endfor %}

  </div> <!-- home-page-banner-mobile -->

</article>


{% schema %}
  {
    "name": "Home Banner",
    "class": "home-page-banner-section-container",
    "max_blocks": 6,
    "blocks": [
      {
        "type": "banner",
        "name": "Banner",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "overlayimage",
            "label": "Overlay Image"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "text",
            "id": "textposition",
            "label": "Text Position Y"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "text",
        "id": "shopallcopy",
        "label": "Shop All Copy"
      },
      {
        "type": "text",
        "id": "link",
        "label": "Link"
      },
      {
        "type": "text",
        "id": "linkcopy",
        "label": "Link Copy"
      },
      {
        "type": "image_picker",
        "id": "content-image",
        "label": "Shop All Image"
      }
    ]
  }
{% endschema %}