
<!--
   _   _  ___  __  __ _____   __  __  ___  ____  _____
  | | | |/ _ \|  \/  | ____| |  \/  |/ _ \|  _ \| ____|
  | |_| | | | | |\/| |  _|   | |\/| | | | | |_) |  _|
  |  _  | |_| | |  | | |___  | |  | | |_| |  _ <| |___
  |_| |_|\___/|_|  |_|_____| |_|  |_|\___/|_| \_\_____|

-->

<article id="home-page-more-section">
  <div class="container-fluid has-breakpoint">
    <div class="row">
      <div class="col-md-12">

        <div id="home-page-more-title">
          {% if section.settings.title != blank %}
            <h2>{{ section.settings.title }}</h2>
          {% endif %}
          
          {{ section.settings.contentcopy }}

        </div>

      </div>
    </div> <!-- row -->
    <div class="row">

      {% for block in section.blocks limit: section.blocks.size %}
        <div class="col-md-4">
          <div class="home-page-more-item">
            <div class="manic-image-container has-full-width">
              {% if block.settings.image != blank %}
                <img src="" data-image-desktop="{{ block.settings.image | img_url: 'master' }}">
              {% else %}
                <img src="" data-image-desktop="{{ 'product-no-image.jpg' | asset_url }}">
              {% endif %}
            </div>
            <div class="default-copy center-version">

              {% if block.settings.title != blank %}
                <h1>{{ block.settings.title }}</h1>
              {% endif %}
              
              {{ block.settings.copy }}

              {% if block.settings.link != blank and block.settings.linkcopy != blank %}
                <div class="cta-container">
                  <a href="{{ block.settings.link }}" class="arrow-cta">{{ block.settings.linkcopy }}</a>
                </div>
              {% endif %}

            </div>
          </div>
        </div>
      {% endfor %}

    </div> <!-- row -->
  </div>
</article>



{% schema %}
  {

    "name": "Home More",
    "class": "home-page-more-section-container",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "contentcopy",
        "label": "Content Copy"
      }
    ],
    "max_blocks": 3,
    "blocks": [
      {
        "type": "homemore",
        "name": "Home More Item",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "copy",
            "label": "Copy"
          },
          {
            "type": "text",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "text",
            "id": "linkcopy",
            "label": "Link Copy"
          }

        ]
      }
    ]
  }
{% endschema %}