<!--
   _   _  ___  __  __ _____   ____  _   _  ___  ____
  | | | |/ _ \|  \/  | ____| / ___|| | | |/ _ \|  _ \
  | |_| | | | | |\/| |  _|   \___ \| |_| | | | | |_) |
  |  _  | |_| | |  | | |___   ___) |  _  | |_| |  __/
  |_| |_|\___/|_|  |_|_____| |____/|_| |_|\___/|_|

-->

<article id="home-page-shop-section" class="visible-md visible-lg">
  <div class="container-fluid has-breakpoint">
    <div class="row">
      <div class="col-md-12">

        <div id="home-page-shop-title">

          {% if section.settings.title != blank %}
            <h2>{{ section.settings.title }}</h2>
          {% endif %}
          
          {{ section.settings.contentcopy }}
        </div>


        <div id="home-page-shop-item-container">

          {% comment %}
            Loop through products in your Frontpage collection.
          {% endcomment %}
          {% for product in collections.frontpage.products %}

            <a href="{{ product.url | within: collection }}" title="{{ product.title }}" class="home-page-shop-item">
              <div class="manic-image-container has-show-all">
                <img src="" data-image-desktop="{{ product.featured_image.src | img_url: 'master' }}">
              </div>
            </a>

          {% endfor %}

        </div> <!-- home-page-shop-item-container -->


      </div>
    </div>
  </div>
</article>



<!-- testing -->
<!-- testing -->
<!-- testing -->



<article id="home-page-shop-section-mobile" class="visible-sm visible-xs">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div id="home-page-shop-title-mobile">
          <h2>Shop the Kindred Range</h2>
          {% comment %}<div class="cta-container">
            <a href="" class="square-cta">Vist tea store</a>
          </div>{% endcomment %}
        </div> <!-- home-page-shop-title-mobile -->
      </div>
    </div> <!-- row -->

    <div class="row">
      <div class="col-md-12">

        <div id="home-page-shop-item-mobile-container">

          <div class="row">

            {% comment %}
              Loop through products in your Frontpage collection.
            {% endcomment %}
            {% for product in collections.frontpage.products %}
              
              <div class="col-sm-6 col-xs-6">
                <a href="{{ product.url | within: collection }}" title="{{ product.title }}" class="home-page-shop-item-mobile">
                  <div class="manic-image-container">
                    
                    <img src="" data-image-mobile="{{ product.featured_image.src | img_url: 'master' }}">
                    
                    {% comment %}<img src="" data-image-mobile="{{ product.images[1] | img_url: 'master' }}">{% endcomment %}
                  </div>
                </a>
              </div>

            {% endfor %}


          </div> <!-- row -->
        </div> <!-- home-page-shop-item-mobile-container -->

      </div> <!-- col-md-12 -->
    </div> <!-- row -->
  </div>
</article>




{% schema %}
  {

    "name": "Home Shop",
    "class": "home-page-shop-section-container",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "contentcopy",
        "label": "Content Copy"
      }
    ]
  }
{% endschema %}