<!--
    ____ ___  ______   __
   / ___/ _ \|  _ \ \ / /
  | |  | | | | |_) \ V /
  | |__| |_| |  __/ | |
   \____\___/|_|    |_|

-->

<article id="about-page-copy-section" class="no-banner-version">
  <div class="container-fluid has-breakpoint">

    <div class="row">

      <div class="col-md-5">

        <div id="about-page-copy-copy">
          <div class="default-copy">
            <h1>{{ section.settings.title }}</h1>
            {{ section.settings.contentcopy }}
          </div>
        </div> <!-- about-page-copy-copy -->
        
      </div>
      <div class="col-md-1"></div>

      <div class="col-md-6 hidden-sm hidden-xs">

        <div id="about-page-copy-image">
          <div class="manic-image-container">
            <img src="" 
              data-image-desktop="{{ section.settings.content-image.src | img_url: 'master' }}">
          </div>
        </div> <!-- about-page-copy-image -->

      </div>
    </div> <!-- row -->

  </div>
</article>






<!--<article id="about-page-copy-section" class="short-version grey-bg-version">
  <div class="container-fluid has-breakpoint">

    <div class="row">

      <div class="col-md-5">

        <div id="about-page-copy-image" class="short-version-02 visible-md visible-lg">
          <div class="manic-image-container">
            <img src="" 
              data-image-desktop="{{ section.settings.content-image-2.src | img_url: 'master' }}">

              {% comment %}
                data-image-mobile="{{ section.settings.content-image-2.src | img_url: '640x500', crop: 'center' }}"
                data-image-tablet="{{ section.settings.content-image-2.src | img_url: '1152x570', crop: 'center' }}"
              {% endcomment %}
              
          </div>
        </div>

      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">

        <div id="about-page-copy-copy" class="short-version-02">
          <div class="default-copy">
            <h1>{{ section.settings.title2 }}</h1>
            {{ section.settings.contentcopy2 }}
          </div>
        </div>
        
      </div>
    </div> 



  </div>
</article>-->


{% schema %}
  {

    "name": "Returns Copy",
    "class": "about-page-copy-section-container",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "contentcopy",
        "label": "Content Copy"
      },
      {
        "type": "image_picker",
        "id": "content-image",
        "label": "Content Image"
      },
      {
        "type": "text",
        "id": "title2",
        "label": "Title 2"
      },
      {
        "type": "textarea",
        "id": "contentcopy2",
        "label": "Content Copy 2"
      },
      {
        "type": "image_picker",
        "id": "content-image-2",
        "label": "Content Image 2"
      }
    ]
  }
{% endschema %}