{% if product.metafields.description.p04_tastingnotes != blank and product.metafields.description.p11_multiple_ingredients != blank %}
  <div class="product-detail">
    <label>tasting notes</label>
    <p>{{ product.metafields.description.p04_tastingnotes }}</p>
  </div>
{% endif %}

{% if product.metafields.description.p05_brewingtemperature != blank || product.metafields.description.p06_brewingvolume != blank || product.metafields.description.p07_brewingtearatio != blank || product.metafields.description.p08_brewingtime != blank %}
  <div class="product-detail">
    <label><span class="hidden-xs">brewing</span> instructions</label>
    <ul>
      {% if product.metafields.description.p05_brewingtemperature != blank %}
        <li><span class="product-detail-icon product-detail-icon-thermometer"></span>{{ product.metafields.description.p05_brewingtemperature }}</li>
      {% endif %}

      {% if product.metafields.description.p06_brewingvolume != blank %}
        <li><span class="product-detail-icon product-detail-icon-teapot"></span>{{ product.metafields.description.p06_brewingvolume }}</li>
      {% endif %}

      {% if product.metafields.description.p08_brewingtime != blank %}
        <li><span class="product-detail-icon product-detail-icon-clock"></span>{{ product.metafields.description.p08_brewingtime }}</li>
      {% endif %}

      {% if product.metafields.description.p07_brewingtearatio != blank %}
        <li><span class="product-detail-icon product-detail-icon-leaf"></span>{{ product.metafields.description.p07_brewingtearatio }}</li>
      {% endif %}      

    </ul>
  </div>
{% endif %}

{% comment %}{% if product.metafields.description.p16_capacity != blank %}
  <div class="product-detail">
    <label>capacity</label>
    <p>{{ product.metafields.description.p16_capacity }}</p>
  </div>
{% endif %}{% endcomment %}

{% if product.metafields.description.p14_material != blank %}
  <div class="product-detail">
    <label>Material</label>
    <p>{{ product.metafields.description.p14_material }}</p>
  </div>
{% endif %}

{% if product.title == "Blessings" %}
  {% if product.metafields.description.p09_netweightcustom != blank %}
    <div class="product-detail">
      <label>net weight</label>
      <p>{{ product.metafields.description.p09_netweightcustom }}</p>
    </div>
  {% endif %}
{% endif %}

{% if product.title == "Endearment" %}
  {% if product.metafields.description.p09_netweightcustom != blank %}
    <div class="product-detail">
      <label>net weight</label>
      <p>{{ product.metafields.description.p09_netweightcustom }}</p>
    </div>
  {% endif %}
{% endif %}

<div class="product-detail">
  <label>Share</label>
  {% assign share_message = "Try out Kindred's " | append: product.title %}
  {% assign share_message_escaped = share_message | url_param_escape %}

  {% assign share_image = featured_image | img_url: 'master' %}
  {% assign share_image_escaped = share_image | url_param_escape %}

  {% assign share_url = shop.url | append: product.url %}
  {% assign share_url_escaped = share_url | url_param_escape %}

  {% assign social_facebook_share_url = 'http://www.facebook.com/sharer.php?u=' | append: share_url_escaped %}
  {% assign social_twitter_share_url = 'https://twitter.com/share?url=' | append: share_url_escaped | append: '&amp;text=' | append: share_message_escaped %}
  {% assign social_pinterest_share_url = '//pinterest.com/pin/create/button/?url=' | append: share_url_escaped | append: '&media=' | append: share_image_escaped | append: '&description=' | append: share_message_escaped %}

  <div class="product-detail-social-container">
    <ul>
      <li><a href="{{ social_pinterest_share_url }}" target="_blank" class="fa fa-pinterest"></a></li>
      <li><a href="{{ social_facebook_share_url }}" target="_blank" class="fa fa-facebook"></a></li>
      <li><a href="{{ social_twitter_share_url }}" target="_blank" class="fa fa-twitter"></a></li>
    </ul>
  </div>
</div>