<!-- /snippets/product-grid-item.liquid -->
{% comment %}

  This snippet is used to showcase each product during the loop,
  'for product in collection.products' in collection.liquid.

  A liquid variable (grid_item_width) is set just before the this
  snippet is included to change the size of the container.
  Once the variable is set on a page, all future instances of this
  snippet will use that width. Overwrite the variable to adjust this.

  Example
    - assign grid_item_width = 'large--one-quarter medium--one-half'

{% endcomment %}





{% comment %}
  Check if the product is on sale and set a variable to be used below.
{% endcomment %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% comment %}
  Check if the product is sold out and set a variable to be used below.
{% endcomment %}
{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}





{% unless is_product_tea %}
  {% assign is_product_tea = false %}
{% endunless %}


{% assign product_item_grid_class = '' %}
{% assign product_item_extra_class = '' %}


{% if is_product_tea == true %}


  {% assign product_item_grid_class = 'product-item-column col-md-3 col-tablet-landscape-md-4 col-sm-6 col-xs-6' %}
  {% assign product_item_extra_class = '' %}

{% else %}
  {% assign product_item_grid_class = 'product-item-column col-md-4 col-tablet-landscape-md-4 col-sm-6 col-xs-12' %}
  {% assign product_item_extra_class = ' product-item-square-version' %}

{% endif %}

<div class="{{ product_item_grid_class }}">

  <div class="product-item {{ product_item_extra_class }}">

    {% if is_product_tea == true %}

      <!-- display fullsize tea image, cause it blurs on high res phones -->

      <a href="{{ product.url | within: collection }}" class="manic-image-container has-show-all" data-vertical-align="top">
        <img src="" 
          data-image-desktop="{{ product.featured_image.src | img_url: '420x' }}" 
          data-image-mobile="{{ product.featured_image.src | img_url: '400x' }}" 
          data-image-tablet="{{ product.featured_image.src | img_url: '420x' }}" 
          alt="{{ product.featured_image.alt | escape }}">
      </a>
      
    {% else %}

      <a href="{{ product.url | within: collection }}" class="manic-image-container square-version show-all {% if product.type == "Teaware" %}teaware-version{% endif %}" data-vertical-align="center">
        <img src="" 
          data-image-desktop="{{ product.featured_image.src | img_url: 'master' }}" 
          data-image-mobile="{{ product.featured_image.src | img_url: '374x454' }}"
          data-image-tablet="{{ product.featured_image.src | img_url: 'master' }}" 
          alt="{{ product.featured_image.alt | escape }}">
      </a>
      
    {% endif %}

    
    <div class="product-item-detail">
      <a href="{{ product.url | within: collection }}" class="product-item-name">{{ product.title }}</a>
      <p class="product-item-category">{{ product.type }}</p>
      <p class="product-item-price">
        {% comment %}
          You can show a leading 'from' or 'up to' by checking 'product.price_varies'
          if your variants have different prices.
        {% endcomment %}
        {% if on_sale %}
          {% if product.price_varies %}
            {% assign sale_price = product.price | money %}
            {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
          {% else %}
            <strong>{{ 'products.product.on_sale' | t }}</strong>
            {{ product.price | money }}
          {% endif %}
        {% else %}
          {% if product.price_varies %}
            {% assign price = product.price | money %}
            {{ 'products.general.from_text_html' | t: price: price }}
          {% else %}
            {{ product.price | money }}
          {% endif %}
        {% endif %}
        {% if sold_out %}
          <br><strong>{{ 'products.product.sold_out' | t }}</strong>
        {% endif %}
        {% if on_sale %}
          <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
          <br><s>{{ product.compare_at_price | money }}</s>
        {% endif %}
      </p>
    </div>
  </div> <!-- product-item -->

</div>
