<!-- /templates/customers/account.liquid -->


{% comment %} Only the account page will have this div {% endcomment %}
<div id="page-account-page-indicator"></div>



<div id="page-account-main-container">

  <!--
     _   _ _____    _    ____  _____ ____
    | | | | ____|  / \  |  _ \| ____|  _ \
    | |_| |  _|   / _ \ | | | |  _| | |_) |
    |  _  | |___ / ___ \| |_| | |___|  _ <
    |_| |_|_____/_/   \_\____/|_____|_| \_\

  -->




  <article id="page-account-header-section-mobile" class="visible-sm visible-xs">
    
    <div id="page-account-header-menu-mobile">
      <ul>
        <li class="selected" data-value="account-information">
          {% comment %}<a href="#account-information">Info</a>{% endcomment %}
          <a href="#account-information">Account</a>
        </li>
        <li data-value="order-history">
          <a href="#order-history">Orders</a>
        </li>
        <li data-value="friend-referral">
          <a href="#friend-referral">Referral</a>
        </li>
      </ul>
    </div> <!-- page-account-header-menu-mobile -->

  </article> <!-- page-account-header-section-mobile -->

  <div id="page-account-header-section-mobile-spacer" class="visible-sm visible-xs"></div>



  <article id="page-account-header-section" class="visible-md visible-lg">
    <div class="container-fluid has-breakpoint">    
      <div class="row">
        <div class="col-md-12">

          <div id="page-account-header-title">
            <h1>{{ 'customer.account.title' | t }}</h1>
          </div>


          <div id="page-account-header-menu" class="visible-md visible-lg">
            <ul>
              <li class="selected" data-value="account-information">
                <a href="#account-information">Account Information</a>
              </li>
              <li data-value="order-history">
                <a href="#order-history">Order History</a>
              </li>
              <li data-value="friend-referral">
                <a href="#friend-referral">Friend Referral</a>
              </li>
            </ul>
          </div> <!-- page-account-header-menu -->


        </div>
      </div>
    </div>
  </article> <!-- page-account-header-section -->




  <!--
        _    ____ ____ ___  _   _ _   _ _____   ___ _   _ _____ ___  ____  __  __    _  _____ ___ ___  _   _
       / \  / ___/ ___/ _ \| | | | \ | |_   _| |_ _| \ | |  ___/ _ \|  _ \|  \/  |  / \|_   _|_ _/ _ \| \ | |
      / _ \| |  | |  | | | | | | |  \| | | |    | ||  \| | |_ | | | | |_) | |\/| | / _ \ | |  | | | | |  \| |
     / ___ \ |__| |__| |_| | |_| | |\  | | |    | || |\  |  _|| |_| |  _ <| |  | |/ ___ \| |  | | |_| | |\  |
    /_/   \_\____\____\___/ \___/|_| \_| |_|   |___|_| \_|_|   \___/|_| \_\_|  |_/_/   \_\_| |___\___/|_| \_|

  -->


  <div id="page-account-information-details-tab">

    <div id="page-account-header-title" class="visible-sm visible-xs">
      <h1>Account Info</h1>
    </div>

    <article id="page-account-information-section">
      <div class="container-fluid has-breakpoint">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">



            <div class="account-information-details-container">
              <div class="account-information-details-title">
                <h3>{{ customer.name }}'s Account</h3>
              </div>
              <div class="account-information-details-content">

                <div class="visible-md visible-lg">
                  <div class="row">

                    <div class="col-md-6">
                      <div class="form-column-01">
                        <div class="row">

                          <div class="col-md-5">
                            <div class="account-information-details-item">
                              <h4>Name</h4>
                              <p>{{ customer.name }}</p>
                            </div>
                          </div>
                          <div class="col-md-7">
                            <div class="account-information-details-item">
                              <h4>Email</h4>
                              <p>{{ customer.email }}</p>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-column-02">

                        <div class="account-information-details-item">
                          <h4>Password</h4>
                          <p><a href="/account/login#recover">Change Password</a></p>
                        </div>

                      </div>
                    </div>

                  </div> <!-- row -->

                  <div class="row">

                    <div class="col-md-6">
                      <div class="form-column-01">

                        <div class="row">


                          <div class="col-md-5">
                            <div class="account-information-details-item">
                              <h4>Phone Number</h4>
                              <p>{{ customer.default_address.phone }}</p>
                            </div>
                          </div>


                          {% if customer.default_address.country != "" %}

                            <div class="col-md-7">
                              <div class="account-information-details-item">
                                <h4>Country</h4>
                                <p>{{ customer.default_address.country }}</p>
                              </div>
                            </div>

                          {% endif %}

                        </div>

                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-column-02">

                        




                        {% if customer.default_address != nil %}
                        
                          <div class="account-information-details-item">
                            <h4>Address</h4>
                            <p>
                              {{ customer.default_address.address1 }}

                              {% if customer.default_address.address2 != "" %}
                                {{ customer.default_address.address2 }}<br>
                              {% endif %}

                              {% if customer.default_address.city != "" %}
                                {{ customer.default_address.city }}
                              {% endif %}

                              {% if customer.default_address.province_code != "" %}
                                {{ customer.default_address.province_code | upcase }}
                              {% endif %}

                              {% if customer.default_address.zip != "" %}
                                {{ customer.default_address.zip | upcase }}
                              {% endif %} 
                            </p>
                          </div>
                        
                        {% endif %}

                      </div>
                    </div>

                    

                  </div> <!-- row -->
                </div> <!-- visible-md -->










                <div class="visible-sm visible-xs">

                  <div class="row">
                    <div class="col-xs-6">
                      <div class="account-information-details-item">
                        <h4>Name</h4>
                        <p>{{ customer.name }}</p>
                      </div>
                    </div>

                    {% if customer.default_address.country != "" %}
                    <div class="col-xs-6">
                      <div class="account-information-details-item">
                        <h4>Country</h4>
                        <p>{{ customer.default_address.country }}</p>
                      </div>
                    </div>
                    {% endif %}

                  </div> <!-- row -->

                  <div class="row">
                    <div class="col-xs-6">
                      <div class="account-information-details-item">
                        <h4>Phone Number</h4>
                        <p>{{ customer.default_address.phone }}</p>
                      </div>

                    </div>
                    <div class="col-xs-6">
                      <div class="account-information-details-item">
                        <h4>Password</h4>
                        <p><a href="/account/login#recover">Change Password</a></p>
                      </div>
                    </div>
                  </div> <!-- row -->

                  <div class="account-information-details-item">
                    <h4>Email</h4>
                    <p>{{ customer.email }}</p>
                  </div>

                  {% if customer.default_address != nil %}
                  <div class="account-information-details-item">
                    <h4>Address</h4>
                    <p>
                      {{ customer.default_address.address1 }}

                      {% if customer.default_address.address2 != "" %}
                        {{ customer.default_address.address2 }}<br>
                      {% endif %}

                      {% if customer.default_address.city != "" %}
                        {{ customer.default_address.city }}
                      {% endif %}

                      {% if customer.default_address.province_code != "" %}
                        {{ customer.default_address.province_code | upcase }}
                      {% endif %}

                      {% if customer.default_address.zip != "" %}
                        {{ customer.default_address.zip | upcase }}
                      {% endif %} 
                    </p>
                  </div>
                  {% endif %}
                  
                  

                </div> <!-- visible-sm -->
                


              </div> <!-- account-information-details-content -->


            </div> <!-- account-information-details-container -->



            

            <div class="account-information-details-container" id="account-information-details-container-address-container">
              <div class="account-information-details-title">
                <h3>{{ 'customer.addresses.title' | t }}</h3>
              </div>
              <div class="account-information-details-content">
                <div class="row">

                  {% for address in customer.addresses %}

                  {% assign address_modulo = forloop.index0 | modulo: 2 %}
                  {% assign address_extra_class = 'form-column-02' %}

                  {% if address_modulo == 0 %}
                    {% assign address_extra_class = 'form-column-01' %}
                  {% endif %}

                    <div class="col-md-6">
                      <div class="{{ address_extra_class }}">
                        <div class="account-information-details-item">
                          <h4>
                            <!-- Address  -->
                            {{ address.first_name }} {{ address.last_name }}


                            

                            {% if address == customer.default_address %}
                              <span class="default-span">({{ 'customer.addresses.default' | t }})</span>
                            {% endif %}
                          </h4>

                          <p>
                            {{ address.company }}
                            {{ address.street }}
                            {{ address.city | capitalize }}
                            {% if address.province_code %}
                              {{ address.province_code | upcase }} 
                            {% endif %}
                            {{ address.zip | upcase }}
                            {{ address.country }}
                            {{ address.phone }}
                          </p>


                          <div class="account-information-details-item-cta-container">
                            <ul>
                              <li>{{ 'customer.addresses.edit' | t | edit_customer_address_link: address.id }}</li>
                              <li>{{ 'customer.addresses.delete' | t | delete_customer_address_link: address.id }}</li>
                            </ul>
                          </div>




                        </div> <!-- account-information-details-item -->
                      </div>
                    </div>




                    <div id="EditAddress_{{ address.id }}" class="edit-address-form form-vertical" {% unless form.errors %}style="display:none;"{% endunless %}>

                      <div class="col-md-12">
                        {% form 'customer_address', address %}

                            {{ form.errors | default_errors }}

                            <div class="account-information-details-title">
                              <h3>{{ 'customer.addresses.edit_address' | t }}</h3>
                            </div>

                            <div class="row">
                              <div class="col-md-6">

                                <div class="form-column-01">
                                  <label for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
                                  <input type="text" id="AddressFirstName_{{ form.id }}" class="input-full" name="address[first_name]" value="{{ form.first_name }}" autocapitalize="words">
                                </div>

                              </div>
                              <div class="col-md-6">

                                <div class="form-column-02">
                                  <label for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>
                                  <input type="text" id="AddressLastName_{{ form.id }}" class="input-full" name="address[last_name]" value="{{ form.last_name }}" autocapitalize="words">
                                </div>

                              </div>
                            </div>
                            
                            <div class="row">
                              <!-- <div class="col-md-6">
                                <label for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>
                                <input type="text" id="AddressCompany_{{ form.id }}" class="input-full" name="address[company]" value="{{ form.company }}" autocapitalize="words">
                              </div> -->
                              <div class="col-md-6">

                                <div class="form-column-01">
                                  <label for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>
                                  <input type="text" id="AddressAddress1_{{ form.id }}" class="input-full" name="address[address1]" value="{{ form.address1 }}" autocapitalize="words">
                                </div>

                              </div>
                              <div class="col-md-6">

                                <div class="form-column-02">
                                  <label for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>
                                  <input type="text" id="AddressAddress2_{{ form.id }}" class="input-full" name="address[address2]" value="{{ form.address2 }}" autocapitalize="words">  
                                </div>

                              </div>
                            </div>


                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-column-01">

                                  <label for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
                                  <input type="text" id="AddressZip_{{ form.id }}" class="input-full" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters">

                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-column-02">

                                  <label for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
                                  <input type="text" id="AddressCity_{{ form.id }}" class="input-full" name="address[city]" value="{{ form.city }}" autocapitalize="words">

                                </div>
                              </div>
                            </div> <!-- row -->

                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-column-01">

                                  <label for="AddressCountry_{{ form.id }}">{{ 'customer.addresses.country' | t }}</label>
                                  <div class="dropdown"> 
                                    <select id="AddressCountry_{{ form.id }}" class="input-full" name="address[country]" data-default="{{ form.country }}">{{ country_option_tags }}</select>
                                  </div>

                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-column-02">

                                  <label for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
                                  <input type="tel" id="AddressPhone_{{ form.id }}" class="input-full" name="address[phone]" value="{{ form.phone }}">

                                </div>
                              </div>
                            </div> <!-- row -->

                              

                            <div id="AddressProvinceContainer_{{ form.id }}" style="display:none">
                              <div class="row">
                                <div class="col-md-6">

                                  <div class="form-column-01">
                                    <label for="AddressProvince_{{ form.id }}">{{ 'customer.addresses.province' | t }}</label>
                                    <div class="dropdown">
                                      <select id="AddressProvince_{{ form.id }}" class="input-full" name="address[province]" data-default="{{ form.province }}"></select>
                                    </div>
                                  </div>

                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-12">

                                <div class="checkbox">
                                  {{ form.set_as_default_checkbox }}
                                  <label for="address_default_address_{{ form.id }}" class="inline checkbox-label"><span></span><p>{{ 'customer.addresses.set_default' | t }}</p></label>
                                </div>

                              </div>
                            </div>


                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-column-01">

                                  <div class="cta-container">
                                    <div class="row">
                                      <div class="col-md-6">
                                        <input type="submit" class="square-cta square-cta-01 full-width-version" value="{{ 'customer.addresses.update' | t }}">
                                      </div>
                                      <div class="col-md-6">
                                        <a href="#" class="square-cta square-cta-02 full-width-version" onclick="Shopify.CustomerAddress.toggleForm({{ form.id }}); return false;">{{ 'customer.addresses.cancel' | t }}</a>
                                      </div>
                                    </div>
                                  </div>

                                </div>
                              </div>
                            </div>

                        {% endform %}
                      </div> <!-- col-md-12 -->

                    </div> <!-- EditAddress_    -->

                  {% endfor %}
                  
                </div> <!-- row -->
              </div> <!-- account-information-details-content -->
            </div> <!-- account-information-details-container -->



          </div> <!-- col-md-10 -->
        </div> <!-- row -->
      </div>
    </article> <!-- page-account-information-section -->




    <!--
       _   _ _______        __     _    ____  ____  ____  _____ ____ ____
      | \ | | ____\ \      / /    / \  |  _ \|  _ \|  _ \| ____/ ___/ ___|
      |  \| |  _|  \ \ /\ / /    / _ \ | | | | | | | |_) |  _| \___ \___ \
      | |\  | |___  \ V  V /    / ___ \| |_| | |_| |  _ <| |___ ___) |__) |
      |_| \_|_____|  \_/\_/    /_/   \_\____/|____/|_| \_\_____|____/____/

    -->


    <article id="page-account-information-address-form-section">
      <div class="container-fluid has-breakpoint">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">



            <div id="page-account-information-address-form">

              <div class="page-account-form-title">
                <h3>{{ 'customer.addresses.add_new' | t }}</h3>
              </div>

              {% form 'customer_address', customer.new_address %}

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-column-01">
                      <label for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
                      <input type="text" id="AddressFirstNameNew" class="input-full white-version" name="address[first_name]" value="{{ form.first_name }}" required autocapitalize="words">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-column-02">
                      <label for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
                      <input type="text" id="AddressLastNameNew" class="input-full white-version" name="address[last_name]" value="{{ form.last_name }}" required autocapitalize="words">
                    </div>
                  </div>
                </div> <!-- row -->

                <div class="row">
                  <!-- <div class="col-md-6">
                    <label for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
                    <input type="text" id="AddressCompanyNew" class="input-full" name="address[company]" value="{{ form.company }}" autocapitalize="words">
                  </div> -->
                  <div class="col-md-6">
                    <div class="form-column-01">
                      <label for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
                      <input type="text" id="AddressAddress1New" class="input-full white-version" name="address[address1]" value="{{ form.address1 }}" required autocapitalize="words">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-column-02">
                      <label for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
                      <input type="text" id="AddressAddress2New" class="input-full white-version" name="address[address2]" value="{{ form.address2 }}" autocapitalize="words">
                    </div>
                  </div>
                </div> <!-- row -->

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-column-01">

                      <label for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
                      <input type="text" id="AddressZipNew" required class="input-full white-version" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters">
                      
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-column-02">
                      
                      <label for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
                      <input type="text" id="AddressCityNew" required class="input-full white-version" name="address[city]" value="{{ form.city }}" autocapitalize="words">

                    </div>
                  </div>
                </div> <!-- row -->

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-column-01">

                      <label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
                      <div class="dropdown white-version">
                        <select id="AddressCountryNew" required class="input-full" name="address[country]" data-default="{{ form.country }}">{{ country_option_tags }}</select>
                      </div>
                      
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-column-02">
                      
                      <label for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
                      <input type="tel" id="AddressPhoneNew" required class="input-full white-version" name="address[phone]" value="{{ form.phone }}">
                      
                    </div>
                  </div>
                </div> <!-- row -->

                <div class="row" id="AddressProvinceContainerNew">
                  <div class="col-md-6">

                    <div class="form-column-01">
                      <label for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
                      <div class="dropdown white-version">
                        <select id="AddressProvinceNew" class="input-full" name="address[province]" data-default="{{ form.province }}"></select>
                      </div>
                    </div>

                  </div>
                </div> <!-- row -->

                <div class="row">
                  <div class="col-md-12">
                    
                    <div class="checkbox white-version">
                      {{ form.set_as_default_checkbox }}
                      <label for="address_default_address_new" class="inline checkbox-label"><span></span><p>{{ 'customer.addresses.set_default' | t }}</p></label>
                    </div>

                  </div>
                </div> <!-- row -->

                <div class="cta-container">
                  <input type="submit" class="square-cta btn" value="{{ 'customer.addresses.add' | t }}">
                </div>

              {% endform %}
            </div> <!-- page-account-information-address-form -->



          </div>
        </div>
      </div>
    </article>

    <script type="text/javascript">
      new Shopify.CountryProvinceSelector('AddressCountryNew', 'AddressProvinceNew', {
        hideElement: 'AddressProvinceContainerNew'
      });

      // Setup province selector on each customer address
      {% paginate customer.addresses by 5 %}
        {% for address in customer.addresses %}
          new Shopify.CountryProvinceSelector('AddressCountry_{{ address.id }}', 'AddressProvince_{{ address.id }}', {
            hideElement: 'AddressProvinceContainer_{{ address.id }}'}
          );
        {% endfor %}
      {% endpaginate %}

      // Modified contents of customer_area.js (global asset)
      Shopify.CustomerAddress = {
        toggleForm: function(id) {
          var editEl = document.getElementById('EditAddress_'+id);
          editEl.style.display = editEl.style.display == 'none' ? '' : 'none';

          if(editEl.style.display == '') {                    

            // $(".account-address-container").addClass("editing");
            $('#account-information-details-container-address-container').addClass('edit-version');   // new

            // $(editEl).parent().parent().parent().removeClass('col-md-6').addClass('col-md-12');
            // $(".address-content").hide();
            // $(".address-content-cta").hide();
          } else {
            // $(".account-address-container").removeClass("editing");
            $('#account-information-details-container-address-container').removeClass('edit-version');   // new

            // $(editEl).parent().parent().parent().removeClass('col-md-12').addClass('col-md-6');
            // $(".address-content").show();
            // $(".address-content-cta").show();
          }                  

          return false;
        },

        toggleNewForm: function() {
          // var el = document.getElementById('AddAddress');
          var el = document.getElementById('page-account-information-address-form-section');
          el.style.display = el.style.display == 'none' ? '' : 'none';
          return false;
        },

        destroy: function(id, confirm_msg) {
          if (confirm(confirm_msg || "Are you sure you wish to delete this address?")) {
            Shopify.postLink('/account/addresses/'+id, {'parameters': {'_method': 'delete'}});
          }
        }
      }


    </script>
  </div> <!-- page-account-information-details-tab -->



  


  <!--
      ___  ____  ____  _____ ____    _   _ ___ ____ _____ ___  ______   __
     / _ \|  _ \|  _ \| ____|  _ \  | | | |_ _/ ___|_   _/ _ \|  _ \ \ / /
    | | | | |_) | | | |  _| | |_) | | |_| || |\___ \ | || | | | |_) \ V /
    | |_| |  _ <| |_| | |___|  _ <  |  _  || | ___) || || |_| |  _ < | |
     \___/|_| \_\____/|_____|_| \_\ |_| |_|___|____/ |_| \___/|_| \_\|_|

  -->



  <div id="page-account-order-history-tab">

    <div id="page-account-header-title" class="visible-sm visible-xs">
      <h1>Order History</h1>
    </div>

    <article id="page-account-order-history-table-section">
      <div class="container-fluid has-breakpoint">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">

            <div id="page-account-order-history-content">

              {% if customer.orders.size != 0 %}

                {% paginate customer.orders by 20 %}

                  <div id="page-account-order-history-table" class="visible-sm visible-md visible-lg">

                    <table class="default-table">
                      <thead>
                        <tr>
                          <th>{{ 'customer.orders.date' | t }}</th>
                          <th>{{ 'customer.orders.order_number' | t }}</th>                    
                          <th>{{ 'customer.orders.payment_status' | t }}</th>
                          <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
                          <th>{{ 'customer.orders.total' | t }}</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for order in customer.orders %}
                          <tr>                      
                            <td>{{ order.created_at | date: format: 'month_day_year' }}</td>
                            <td>{{ order.name | link_to: order.customer_url }}</td>
                            <td>{{ order.financial_status_label }}</td>
                            <td>{{ order.fulfillment_status_label }}</td>
                            <td>{{ order.total_price | money }}</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>

                  </div> <!-- page-account-order-history-table -->

                  <div id="page-account-order-history-table-mobile" class="visible-xs">
                    <table class="default-table">
                      <thead>
                        <tr>
                          <th>
                            {{ 'customer.orders.order_number' | t }}
                          </th>
                          <th>
                            {{ 'customer.orders.date' | t }}
                          </th>                    
                          <th>
                            {{ 'customer.orders.total' | t }}
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for order in customer.orders %}
                          <tr>                      
                            <td>
                              {{ order.name | link_to: order.customer_url }}
                            </td>
                            <td>
                              {{ order.created_at | date: format: 'month_day_year' }} <br>
                            </td>
                            <td>
                              {{ order.total_price | money }}

                              <a href="{{ order.customer_url }}" class="arrow-cta"></a>

                            </td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>

                  {% if paginate.pages > 1 %}
                    <div class="page-account-order-history-pagination">
                      <div class="pagination">
                        {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
                      </div>
                    </div>
                  {% endif %}

                {% endpaginate %}



              {% else %}
                <p>{{ 'customer.orders.none' | t }}</p>
              {% endif %}


            </div> <!-- page-account-order-history-content -->

          </div> <!-- col-md -->

        </div> <!-- row -->

      </div> <!-- container-fluid -->

    </article> <!-- page-account-order-history-table-section -->

  </div> <!-- page-account-order-history-tab -->







  <!--
     _____ ____  ___ _____ _   _ ____    ____  _____ _____ _____ ____      _    _
    |  ___|  _ \|_ _| ____| \ | |  _ \  |  _ \| ____|  ___| ____|  _ \    / \  | |
    | |_  | |_) || ||  _| |  \| | | | | | |_) |  _| | |_  |  _| | |_) |  / _ \ | |
    |  _| |  _ < | || |___| |\  | |_| | |  _ <| |___|  _| | |___|  _ <  / ___ \| |___
    |_|   |_| \_\___|_____|_| \_|____/  |_| \_\_____|_|   |_____|_| \_\/_/   \_\_____|

  -->

  <div id="page-account-friend-referal-tab">

    <div id="page-account-header-title" class="visible-sm visible-xs">
      <h1>Friend Referral</h1>
    </div>

    <article id="page-account-friend-referal-form-section">
      <div class="container-fluid has-breakpoint">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">

            <div id="page-account-friend-referal-form">

              <div id="page-account-friend-referal-form-customer-email" data-value="{{ customer.email }}"></div>
              <div id="page-account-friend-referal-form-status-message">
              </div>

              <div class="page-account-form-title">
                <h3>{{ 'customer.friend_referral.title' | t }}</h3>
              </div>
              
              <form id="friend-referral-form" class="simple-form-check add-element-version" action="http://www.manic.com.sg/kindred/shopify_app/send_invitation.php" method="post">

                <input type="hidden" name="to_count" id="to_count" value="4">   <!-- IMPORTANT !!! -->


                <div class="row">
                  <div class="col-md-6">
                    <div class="form-column-01">
                      

                      <!-- hidden -->
                      <input type="hidden" name="from_email" value="{{ customer.email }}">                      

                      <label for="">{{ 'customer.friend_referral.name' | t }}</label>

                      <div class="row">
                        <div class="col-md-5 col-tablet-landscape-md-6 col-sm-12 col-xs-12">
                          <div class="dropdown">
                            <select name="salutation" id="salutation" class="required">
                              <option value="">Please select</option>
                              <option value="Mr">Mr</option>
                              <option value="Ms">Ms</option>
                              <option value="Mrs">Mrs</option>
                              <option value="Miss">Miss</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-7 col-tablet-landscape-md-6 col-sm-12 col-xs-12">
                          <input type="text" name="from_name" id="from_name" class="input-full required">
                        </div>
                      </div>

                      <!-- label for all -->
                      <label for="">{{ 'customer.friend_referral.to' | t }}</label>

                      <div class="page-account-friend-referal-field-item">
                        <div class="row">
                          <div class="col-md-5 col-tablet-landscape-md-6 col-sm-12 col-xs-12">
                            <input type="text" name="to_name" id="to_name" class="input-full required" placeholder="Name">
                          </div>
                          <div class="col-md-7 col-tablet-landscape-md-6 col-sm-12 col-xs-12">
                            <input type="text" name="to_email" id="to_email" class="input-full required only-email must-not-be-same-email" autocorrect="off" placeholder="Email Address">
                          </div>
                        </div>
                        <div class="space20 visible-sm visible-xs"></div>
                      </div>
                      

                      <div class="page-account-friend-referal-field-item">
                        <div class="row">
                          <div class="col-md-5 col-tablet-landscape-md-6 col-sm-12 col-xs-12">
                            <input type="text" name="to_name_2" class="input-full" placeholder="Name">
                          </div>
                          <div class="col-md-7 col-tablet-landscape-md-6 col-sm-12 col-xs-12">
                            <input type="text" name="to_email_2" class="input-full must-not-be-same-email" placeholder="Email Address">
                          </div>
                        </div>
                        <div class="space20 visible-sm visible-xs"></div>
                      </div>

                      <div class="page-account-friend-referal-field-item">
                        <div class="row">
                          <div class="col-md-5 col-tablet-landscape-md-6 col-sm-12 col-xs-12">
                            <input type="text" name="to_name_3" class="input-full" placeholder="Name">
                          </div>
                          <div class="col-md-7 col-tablet-landscape-md-6 col-sm-12 col-xs-12">
                            <input type="text" name="to_email_3" class="input-full must-not-be-same-email" placeholder="Email Address">
                          </div>
                        </div>
                        <div class="space20 visible-sm visible-xs"></div>
                      </div>

                      <div class="page-account-friend-referal-field-item">
                        <div class="row">
                          <div class="col-md-5 col-tablet-landscape-md-6 col-sm-12 col-xs-12">
                            <input type="text" name="to_name_4" class="input-full" placeholder="Name">
                          </div>
                          <div class="col-md-7 col-tablet-landscape-md-6 col-sm-12 col-xs-12">
                            <input type="text" name="to_email_4" class="input-full must-not-be-same-email" placeholder="Email Address">
                          </div>
                        </div>
                        <div class="space20 visible-sm visible-xs"></div>
                      </div>




                      <div id="paste-clone"></div>  <!-- IMPORTANT !!! -->



                    </div> <!-- form-column-01 -->
                  </div>
                  <div class="col-md-6">
                    <div class="form-column-02">

                      <div class="visible-sm visible-xs">
                        <div class="cta-container" style="padding-top:0!important;">
                          <a href="#" id="add-more-name-mobile" class="square-cta">Add more names</a>
                        </div>
                        <div class="space40 visible-sm visible-xs"></div>

                      </div>

                      <label for="">{{ 'customer.friend_referral.message' | t }}</label>
                      <textarea name="message" id="message" cols="30" rows="10" class="required"></textarea>

                      <div class="cta-container visible-md visible-lg">
                        <input type="submit" id="send-message" class="square-cta" value="Send Message">
                      </div>
                      

                    </div>
                  </div>
                </div>




                <div class="row">
                  <div class="col-md-6">
                    <div class="form-column-01">

                      <div class="cta-container">
                        <div class="row">
                          <div class="col-md-6 visible-md visible-lg">
                            <a href="#" id="add-more-name" class="square-cta full-width-version">Add more names</a>
                          </div>
                          <div class="col-md-6 visible-sm visible-xs">
                            <input type="submit" id="send-message" class="square-cta square-cta-02-xs full-width-version" value="Send Message">
                          </div>
                        </div>
                      </div>

                    </div> <!-- form-column-01 -->
                  </div>
                </div> <!-- row -->

              </form>

            </div> <!-- page-account-friend-referal-form -->

          </div>
        </div> <!-- row -->
      </div>
    </article> <!-- page-account-friend-referal-form-section -->

  </div> <!-- page-account-friend-referal-tab -->




</div> <!-- page-account-main-container -->









<script type="text/javascript">
  /*
  function InvalidMsg(textbox) {
    if(textbox.validity.patternMismatch){
      // textbox.setCustomValidity('You cannot send invitation to yourself.');    // copy change from fion
      textbox.setCustomValidity('You cannot send an invitation to yourself.');
    } else {
      textbox.setCustomValidity('');
    }
    return true;
  }
  
  // SCRIPTS WERE MOVED TO DEFAULT.JS*/

</script>