<!-- /templates/customers/login.liquid -->

<article id="default-page-banner-section">
  <div id="default-page-banner">
    <div class="manic-image-container">
      <img src="" 
        data-image-desktop="{{ 'login-banner-v4.jpg' | asset_img_url: '2048x800' }}" 
        data-image-mobile="{{ 'login-banner-v4.jpg' | asset_img_url: '640x500', crop: 'center' }}" 
        data-image-tablet="{{ 'login-banner-v4.jpg' | asset_img_url: '1152x570', crop: 'center' }}" 
        alt="">
    </div>
  </div>
</article>



<article id="page-login-content-section">
  <div class="container-fluid has-breakpoint">
    <div class="row">
      <div class="col-md-5">

        <div class="note form-success" id="ResetSuccess" style="display:none;">
          {{ 'customer.recover_password.success' | t }}
        </div>

        <div id="CustomerLoginForm" class="simple-form-check form-vertical add-element-version">
          {% form 'customer_login' %}
            
            {% if form.errors %}
              {{ form.errors | default_errors }}
              {% assign login_form_errors = true %}
            {% else %}
              {% assign login_form_errors = false %}
            {% endif %}

            <h1>{{ 'customer.login.title' | t }}</h1>

            <p>{{ 'customer.login.desc' | t }}</p>                
              
            
            
            <div class="row inline-form-row">
              <div class="col-md-4">
                <label for="CustomerEmail">{{ 'customer.login.email' | t }}</label>
              </div>
              <div class="col-md-8">
                <input type="text" name="customer[email]" id="CustomerEmail" class="required first-input-item only-email input-full{% if form.errors contains 'email' %} error{% endif %}" autocorrect="off" autocapitalize="off">
              </div>
            </div>

            {% if form.password_needed %}
            <div class="row inline-form-row">
              <div class="col-md-4">
                <label for="CustomerPassword">{{ 'customer.login.password' | t }}</label>
              </div>
              <div class="col-md-8">
                <input type="password" value="" name="customer[password]" autocomplete="new-password" id="CustomerPassword" class="required input-full{% if form.errors contains 'password' %} error{% endif %}">
              </div>
              
              
            </div>
            {% endif %}

            <!-- <p><a href="/">{{ 'customer.login.cancel' | t }}</a></p> -->
            <!-- <p>{{ 'layout.customer.create_account' | t | customer_register_link }}</p> -->
            {% if form.password_needed %}
            <div class="link-container">
              <a href="#recover" id="RecoverPassword">{{ 'customer.login.forgot_password' | t }}</a>
            </div>
            {% endif %}

            <div class="cta-container">
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <input id="sign-in" type="submit" class="square-cta square-cta-01-xs full-width-version" value="{{ 'customer.login.sign_in' | t }}">
                </div>
                <div class="col-md-6 col-sm-6">
                  <button id="login-with-facebook" class="square-cta square-cta-02-xs full-width-version">{{ 'customer.login.sign_in_with_facebook' | t }}</button>
                </div>
              </div>
            </div>
            
          {% endform %}
        </div>

        {% comment %}
          JS shows/hides this form in timber.loginForms()
        {% endcomment %}

        <div id="RecoverPasswordForm" class="simple-form-check add-element-version" style="display: none;">

          
          {% form 'recover_customer_password' %}
            
            
            {{ form.errors | default_errors }}            

            <h1>{{ 'customer.recover_password.title' | t }}</h1>
            <p>{{ 'customer.recover_password.subtext' | t }}</p>

            {% comment %}
              Assign variable to be used after timber.init() is run in theme.liquid
            {% endcomment %}
            {% if form.posted_successfully? %}
              {% assign resetPassword = true %}
            {% endif %}
            
            <div class="row inline-form-row">
              <div class="col-md-4">
                <label for="RecoverEmail">{{ 'customer.login.email' | t }}</label>
              </div>
              <div class="col-md-8">
                <input type="text" value="" name="email" id="RecoverEmail" class="required first-input-item input-full" autocorrect="off" autocapitalize="off">
              </div>
            </div>

            <div class="cta-container">
              <div class="row">                
                <div class="col-md-6 col-sm-6">
                  {% if customer %}
                    <button type="button" onclick="window.history.back();" class="square-cta square-cta-01-xs full-width-version">{{ 'customer.recover_password.cancel' | t }}</button>
                  {% else %}
                    <button type="button" id="HideRecoverPasswordLink" class="square-cta square-cta-01-xs full-width-version">{{ 'customer.recover_password.cancel' | t }}</button>
                  {% endif %}
                </div>
                <div class="col-md-6 col-sm-6">
                  <input type="submit" class="square-cta square-cta-02-xs full-width-version" value="{{ 'customer.recover_password.submit' | t }}">                  
                </div>
              </div>              
            </div>
            
          {% endform %}

        </div>

        {% comment %}
          If accounts are set as optional, the following will be shown as an option
          during checkout, not on the default /login page.
        {% endcomment %}
        {% if shop.checkout.guest_login %}

          <div id="page-login-guest-login-container">

            





            {% form 'guest_login' %}
              <div class="default-copy">
                <p>If you want to continue without creating an account: <a href="javascript:void(0);" id="page-login-guest-login-btn">{{ 'customer.login.guest_title' | t }}</a></p>
              </div>
              
            {% endform %}

          </div> <!-- page-login-guest-login-container -->

        {% endif %}

      </div>
      <div class="col-md-2">
        <div class="vertical-seperator-line"></div>
      </div>
      <div class="col-md-5">
        <div id="CustomerRegisterForm" class="simple-form-check form-vertical add-element-version">
          {% form 'create_customer' %}
            
            {% if login_form_errors == false %}
              {{ form.errors | default_errors }}
            {% endif %}

            <h1>{{ 'customer.login.create_account_title' | t }}</h1>

            <p>{{ 'customer.login.create_account_desc' | t }}</p>                
            
            <div class="row inline-form-row">
              <div class="col-md-4">
                <label for="FirstName">{{ 'customer.register.first_name' | t }}</label>
              </div>
              <div class="col-md-8">
                <input type="text" name="customer[first_name]" id="FirstName" class="required first-input-item input-full" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words">
              </div>
            </div>
            
            <div class="row inline-form-row">
              <div class="col-md-4">
                <label for="LastName">{{ 'customer.register.last_name' | t }}</label>
              </div>
              <div class="col-md-8">
                <input type="text" name="customer[last_name]" id="LastName" class="required input-full" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words">
              </div>
            </div>

            <div class="row inline-form-row">
              <div class="col-md-4">
                <label for="CustomerEmail">{{ 'customer.login.email' | t }}</label>
              </div>
              <div class="col-md-8">
                <input type="text" name="customer[email]" id="Email" class="required only-email input-full{% if form.errors contains 'email' %} error{% endif %}" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">

                <!-- <input type="hidden" name="customer[password]" id="CreatePassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}" value="p@ssword"> -->
              </div>
            </div>

            <div class="row inline-form-row">
              <div class="col-md-4">
                <label for="CustomerPassword">{{ 'customer.login.password' | t }}</label>
              </div>
              <div class="col-md-8">
                <input type="password" name="customer[password]" id="CustomerPassword" class="required input-full{% if form.errors contains 'password' %} error{% endif %}">
              </div>
              
              
            </div>

            <div class="cta-container left-version">    
              <input type="submit" class="btn square-cta" value="{{ 'customer.login.create_account_title' | t }}">                                
            </div>
            
          {% endform %}
        </div>
      </div>
    </div>
  </div>
</article>



<script type="text/javascript">
  
  jQuery(document).ready(function($) {

    $('#login-with-facebook').on("click", function(e){
      e.preventDefault();      

      FB.login(function(response) {
        if (response.authResponse) {
           console.log('Welcome!  Fetching your information.... ');
           FB.api('/me', {fields:'id,email,first_name,last_name,gender,birthday'}, function(response) {

             var birthday = "";

             if(typeof response.birthday !== 'undefined' && response.birthday !== null) {
                birthday = response.birthday;
             }

             window.location.href = 'http://www.manic.com.sg/kindred/shopify_app/callback.php?email='+response.email+'&first_name='+response.first_name+'&last_name='+response.last_name+'&gender='+response.gender+'&birthday='+birthday;             

           });
        } else {
         alert('You have cancelled login or did not fully authorize.');
        }
      }, {scope: 'public_profile,email'});


    });

    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
    };
    
    var email = getUrlParameter('email');
    var password = getUrlParameter('password');

    console.log('email')
    console.log(email);
    console.log(password);
    
    if ( email != null && 
        email != undefined && 
        password != null && 
        password != undefined &&
        email !== "" && 
        password !== "") {

      $("#CustomerEmail").val(email);
      $("#CustomerPassword").val(password);

      $("#sign-in").trigger("click");
    }
    

    // remove (yiling's preference)
    // function scrollToElement(ele) {
    //     $(window).scrollTop(ele.offset().top).scrollLeft(ele.offset().left);
    // }
    // 
    // scrollToElement($("#page-login-content-section"));
    
    
  });

</script>