<!-- /templates/customers/order.liquid -->













<div id="page-account-main-container">
  
  <!--
     _   _ _____    _    ____  _____ ____
    | | | | ____|  / \  |  _ \| ____|  _ \
    | |_| |  _|   / _ \ | | | |  _| | |_) |
    |  _  | |___ / ___ \| |_| | |___|  _ <
    |_| |_|_____/_/   \_\____/|_____|_| \_\

  -->
  <article id="page-account-header-section">
    <div class="container-fluid has-breakpoint">
      <div class="row">
        <div class="col-md-12">

          <div id="page-account-header-title">
            <h1>{{ 'customer.order.title' | t: name: order.name }}</h1>
          </div>

        </div>
      </div>
    </div>
  </article>

  <!--
     ___ _   _ _____ ___
    |_ _| \ | |  ___/ _ \
     | ||  \| | |_ | | | |
     | || |\  |  _|| |_| |
    |___|_| \_|_|   \___/

  -->

  <article class="page-account-information-section">
    <div class="container-fluid has-breakpoint">
      <div class="row">
        <div class="col-md-6">

          <div class="form-column-01">
            <div class="account-information-details-container">
              <div class="account-information-details-title">
                <h3>{{ 'customer.order.billing_address' | t }}</h3>
              </div>
              <div class="account-information-details-content">
                <div class="row">
                  <div class="col-md-6">

                    <div class="account-information-details-item">
                      <h4>Name</h4>
                      <p>{{ order.billing_address.name }}</p>
                    </div>

                    <div class="account-information-details-item">
                      <h4>Address</h4>
                      <p>
                        {% if order.billing_address.company != '' %}
                          {{ order.billing_address.company }}
                        {% endif %}
                        {{ order.billing_address.street }}
                        {{ order.billing_address.city }}
                        {% if order.billing_address.province != '' %}
                          {{ order.billing_address.province }}
                        {% endif %}
                        {{ order.billing_address.zip | upcase }}
                        {{ order.billing_address.country }}                  
                      </p>
                    </div>

                    <div class="account-information-details-item">
                      <h4>Phone Number</h4>
                      <p>{{ order.billing_address.phone }}</p>
                    </div>

                  </div>
                  <div class="col-md-6">

                    <div class="account-information-details-item">
                      <h4>Payment Status</h4>
                      <p>{{ order.financial_status_label }}</p>
                    </div>

                    <div class="account-information-details-item">
                      <h4>Payment Transaction</h4>
                      {% for transaction in order.transactions %}
                        {% if forloop.first %}
                          <p>{{ transaction.gateway }}</p>
                        {% endif %}
                      {% endfor %}
                    </div>

                    <div class="account-information-details-item">
                      <h4>Payment Date</h4>
                      <p>{{ 'customer.order.date' | t: date: order.created_at | date: "%B %d, %Y %I:%M%p" }}</p>
                    </div>

                  </div>
                </div> <!-- row -->


              </div>
            </div>

            <div></div>

          </div>


        </div> <!-- col -->
        <div class="col-md-6">

          <div class="form-column-02">
            <div class="account-information-details-container">
              <div class="account-information-details-title">
                <h3>{{ 'customer.order.shipping_address' | t }}</h3>
              </div>
              <div class="account-information-details-content">
                <div class="row">
                  <div class="col-md-6">

                    <div class="account-information-details-item">
                      <h4>Name</h4>
                      <p>{{ order.shipping_address.name }}</p>
                    </div>

                    <div class="account-information-details-item">
                      <h4>Address</h4>
                      <p>
                        {% if order.shipping_address.company != '' %}
                          {{ order.shipping_address.company }}
                        {% endif %}
                        {{ order.shipping_address.street }}
                        {{ order.shipping_address.city }}
                        {% if order.shipping_address.province != '' %}
                          {{ order.shipping_address.province }}
                        {% endif %}
                        {{ order.shipping_address.zip | upcase }}
                        {{ order.shipping_address.country }}
                      </p>
                    </div>

                  </div>
                  <div class="col-md-6">
                    
                    <div class="account-information-details-item">
                      <h4>Phone Number</h4>
                      <p>{{ order.shipping_address.phone }}</p>
                    </div>

                    <div class="account-information-details-item">
                      <h4>{{ 'customer.order.fulfillment_status' | t }}</h4>
                      <p>{{ order.fulfillment_status_label }}</p>
                    </div>

                  </div>
                </div> <!-- row -->


              </div>
            </div>

            <div></div>

          </div> 
          
        </div>
      </div> <!-- row -->
    </div> <!-- container-fluid -->
  </article>
  

</div> <!-- page-account-main-container -->








<article id="page-cart-header-section" class="visible-md visible-lg">
  <div class="container-fluid has-breakpoint">
    <div class="row">
      <div class="col-md-12">        
        <h1>Items Ordered</h1>
      </div>
    </div>
  </div>
</article>

<article id="page-cart-header-section-mobile" class="visible-sm visible-xs">
  

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">

        <div class="account-information-details-title">
          <h3>Items Ordered</h3>
        </div>
        
      </div>
    </div>
  </div>
</article> <!-- page-cart-header-section-mobile -->


<article id="page-cart-content-section">

  <div class="container-fluid has-breakpoint">
    <div class="row">
      <div class="col-md-12">

        <div id="page-cart-content">

          {% if order.cancelled %}
            <div class="errors">
              {% assign cancelled_at = order.cancelled_at | date: "%B %d, %Y %I:%M%p" %}
              <p class="h5">{{ 'customer.order.cancelled' | t: date: cancelled_at }}</p>
              <p>{{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason }}</p>
            </div>
          {% endif %}

          <table class="cart-table full table--responsive">
            <thead class="cart__row cart__header-labels" >
              <th colspan="2" class="text-center">{{ 'customer.order.product' | t }}</th>
              <th class="text-center">{{ 'customer.order.price' | t }}</th>
              <th class="text-center">{{ 'customer.order.quantity' | t }}</th>
              <th class="text-right">{{ 'customer.order.total' | t }}</th>
            </thead>
            <tbody>

              {% for line_item in order.line_items %}


                <tr class="cart__image table__section visible-sm visible-xs">
                  <td>
                    <a href="{{ line_item.product.url }}" class="manic-image-container has-show-all cart__product__image">
                      
                      {% for image in line_item.product.images %}
                        {% if forloop.first == true %}
                          <img src="{{ image.src | product_img_url: 'medium' }}" alt="{{ line_item.title | escape }}">
                        {% endif %}
                      {% endfor %}

                    </a>
                  </td>
                </tr>
                <tr class="cart__row table__section">
                  <td data-label="{{ 'customer.order.product' | t }}" class="hidden-sm hidden-xs">

                    <a href="{{ line_item.product.url }}" class="manic-image-container has-show-all cart__product__image">
                      
                      {% for image in line_item.product.images %}
                        {% if forloop.first == true %}
                          <img src="{{ image.src | product_img_url: 'medium' }}" alt="{{ line_item.title | escape }}">
                        {% endif %}
                      {% endfor %}

                    </a>

                  </td>
                  <td>
                    <p>
                      <a href="{{ line_item.product.url }}" class="cart__product__title">{{ line_item.title }}</a>
                    </p>
                  </td>
                  <td data-label="{{ 'customer.order.price' | t }}" class="text-center hidden-sm hidden-xs">
                    <p>{{ line_item.price | money }}</p>
                  </td>
                  <td>


                    <p class="visible-md visible-lg">{{ line_item.quantity }}</p>
                    <p class="visible-sm visible-xs">Quantity: {{ line_item.quantity }}</p>



                  </td>
                  <td data-label="{{ 'customer.order.total' | t }}" class="text-right">
                    <p>{{ line_item.quantity | times: line_item.price | money }}</p>
                  </td>

                </tr>

              {% endfor %}
            </tbody>
          </table>
        </div> <!-- page-cart-content -->


      </div>
    </div>
  </div>


</article> <!-- page-cart-content-section -->


  


<article id='page-cart-footer-section'>
  <div class="container-fluid has-breakpoint">
    <div class="row">
      <div class="col-md-12">

        <div id="page-cart-footer">

          <div id="page-cart-footer-seperator"></div>


          <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">

              <div id="page-cart-checkout-container">

                <div class="row">

                  <div class="col-md-7 col-sm-6 col-xs-7">
                    <label class="text-left"><span class="cart__subtotal-title">{{ 'customer.order.subtotal' | t }}</span></label>
                  </div>
                  <div class="col-md-5 col-sm-6 col-xs-5">
                    <p class="normal-version"><span class="cart__subtotal">{{ order.subtotal_price | money }}</span></p>
                  </div>
                </div>

                {% for discount in order.discounts %}

                  <div class="row">

                    <div class="col-md-7 col-sm-6 col-xs-7">
                      <label class="text-left"><span class="cart__subtotal-title">{{ discount.code }} {{ 'customer.order.discount' | t }}</span></label>
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-5">
                      <p class="normal-version"><span class="cart__subtotal">-{{ discount.amount | money }}</span></p>
                    </div>
                  </div>
                {% endfor %}

                {% for shipping_method in order.shipping_methods %}
                  <div class="row">

                    <div class="col-md-7 col-sm-6 col-xs-7">
                      <label class="text-left"><span class="cart__subtotal-title">{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})</span></label>
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-5">
                      <p class="normal-version"><span class="cart__subtotal">{{ shipping_method.price | money }}</span></p>
                    </div>
                  </div>

                {% endfor %}

                {% for tax_line in order.tax_lines %}
                  <div class="row">

                    <div class="col-md-7 col-sm-6 col-xs-7">
                      <label class="text-left"><span class="cart__subtotal-title">{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</span></label>
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-5">
                      <p class="normal-version"><span class="cart__subtotal">{{ tax_line.price | money }}</span></p>
                    </div>
                  </div>
                {% endfor %}


                <div class="row">

                  <div class="col-md-7 col-sm-6 col-xs-7">
                    <label class="text-left"><span class="cart__subtotal-title">{{ 'customer.order.grand_total' | t }}</span></label>
                  </div>
                  <div class="col-md-5 col-sm-6 col-xs-5">
                    <p class="normal-version"><span class="cart__subtotal">{{ order.total_price | money }} {{ order.currency }}</span></p>
                  </div>
                </div>


              </div> <!-- page-cart-checkout-container -->

            </div>
          </div>

        </div> <!-- page-cart-footer -->

      </div>
    </div> <!-- row -->
  </div>
</article> <!-- page-cart-footer-section -->

<!-- <p><a href="/account">{{ 'customer.account.return' | t }}</a></p>