<!-- /templates/customers/login.liquid -->

<!-- <div class="grid">

  <div class="grid__item large--one-third push--large--one-third text-center">

    </div>

</div> -->

    {% comment %}
      If a user has successfully requested a new password, the form.posted_successfully? variable
      is set to true within the 'recover_customer_password' form only. Within that form you'll see
      the variable 'resetPassword' set to true, which is used to initialize timber.resetPasswordSuccess().
    {% endcomment %}



    <article id="default-page-banner-section">
      <div id="default-page-banner">
        <div class="manic-image-container">
          <img src="" 
            data-image-desktop="{{ 'login-banner.jpg' | asset_url }}" 
            data-image-mobile="{{ 'login-banner.jpg' | asset_img_url: '640x500', crop: 'center' }}" 
            data-image-tablet="{{ 'login-banner.jpg' | asset_img_url: '1152x570', crop: 'center' }}" 
            alt="">
        </div>
      </div>
    </article>

    <article id="page-login-content-section">
      <div class="container-fluid has-breakpoint">
        <div class="row">
          <div class="col-md-5">

            <div class="note form-success" id="ResetSuccess" style="display:none;">
              {{ 'customer.recover_password.success' | t }}
            </div>

            <div id="CustomerLoginForm" class="form-vertical">
              {% form 'customer_login' %}                

                <h1>{{ 'customer.login.title' | t }}</h1>

                <p>{{ 'customer.login.desc' | t }}</p>                
                
                <div class="row inline-form-row">
                  <div class="col-md-4">
                    <label for="CustomerEmail">{{ 'customer.login.email' | t }}</label>
                  </div>
                  <div class="col-md-8">
                    <input type="email" name="customer[email]" id="CustomerEmail" class="input-full{% if form.errors contains 'email' %} error{% endif %}" autocorrect="off" autocapitalize="off" required email>
                  </div>
                </div>

                {% if form.password_needed %}
                <div class="row inline-form-row">
                  <div class="col-md-4">
                    <label for="CustomerPassword">{{ 'customer.login.password' | t }}</label>
                  </div>
                  <div class="col-md-8">
                    <input type="password" name="customer[password]" autocomplete="new-password" id="CustomerPassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}" required>
                  </div>
                  
                  
                </div>
                {% endif %}

                <!-- <p><a href="/">{{ 'customer.login.cancel' | t }}</a></p> -->
                <!-- <p>{{ 'layout.customer.create_account' | t | customer_register_link }}</p> -->
                {% if form.password_needed %}
                <div class="link-container">
                  <a href="#recover" id="RecoverPassword">{{ 'customer.login.forgot_password' | t }}</a>
                </div>
                {% endif %}

                <div class="cta-container">
                  <div class="row">
                    <div class="col-md-6 col-sm-6">
                      <input id="sign-in" type="submit" class="square-cta square-cta-01-xs full-width-version" value="{{ 'customer.login.sign_in' | t }}">
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <button id="login-with-facebook" class="square-cta square-cta-02-xs full-width-version">{{ 'customer.login.sign_in_with_facebook' | t }}</button>
                    </div>
                  </div>
                </div>
                
              {% endform %}
            </div>

            {% comment %}
              JS shows/hides this form in timber.loginForms()
            {% endcomment %}
            <div id="RecoverPasswordForm" style="display: none;">

              

              <div class="form-vertical">
                {% form 'recover_customer_password' %}

                  <h1>{{ 'customer.recover_password.title' | t }}</h1>
                  <p>{{ 'customer.recover_password.subtext' | t }}</p>

                  {{ form.errors | default_errors }}

                  {% comment %}
                    Assign variable to be used after timber.init() is run in theme.liquid
                  {% endcomment %}
                  {% if form.posted_successfully? %}
                    {% assign resetPassword = true %}
                  {% endif %}

                  <div class="row inline-form-row">
                    <div class="col-md-4">
                      <label for="RecoverEmail">{{ 'customer.recover_password.email' | t }}</label>
                    </div>
                    <div class="col-md-8">
                      <input type="email" value="" name="email" id="RecoverEmail" class="input-full" placeholder="{{ 'customer.recover_password.email' | t }}" autocorrect="off" autocapitalize="off">
                    </div>
                  </div>

                  <div class="cta-container">
                    <div class="row">
                      <div class="col-md-6 col-sm-6">
                        <button type="button" id="HideRecoverPasswordLink" class="square-cta square-cta-01-xs full-width-version">{{ 'customer.recover_password.cancel' | t }}</button>
                      </div>
                      <div class="col-md-6 col-sm-6">
                        <input type="submit" class="square-cta square-cta-02-xs full-width-version" value="{{ 'customer.recover_password.submit' | t }}">
                      </div>
                    </div>
                    
                  </div>

                  
                {% endform %}
              </div>

            </div>

            {% comment %}
              If accounts are set as optional, the following will be shown as an option
              during checkout, not on the default /login page.
            {% endcomment %}
            {% if shop.checkout.guest_login %}
              <hr>

              <h2>{{ 'customer.login.guest_title' | t }}</h2>

              {% form 'guest_login' %}
                <input type="submit" class="btn square-cta" value="{{ 'customer.login.guest_continue' | t }}">
              {% endform %}
            {% endif %}

          </div>
          <div class="col-md-2">
            <div class="vertical-seperator-line"></div>
          </div>
          <div class="col-md-5">
            <div id="CustomerRegisterForm" class="form-vertical">
              {% form 'create_customer' %}

                {{ form.errors | default_errors }}

                <h1>{{ 'customer.login.create_account_title' | t }}</h1>

                <p>{{ 'customer.login.create_account_desc' | t }}</p>                
                
                <div class="row inline-form-row">
                  <div class="col-md-4">
                    <label for="FirstName">{{ 'customer.register.first_name' | t }}</label>
                  </div>
                  <div class="col-md-8">
                    <input type="text" name="customer[first_name]" id="FirstName" class="input-full" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus required>
                  </div>
                </div>
                
                <div class="row inline-form-row">
                  <div class="col-md-4">
                    <label for="LastName">{{ 'customer.register.last_name' | t }}</label>
                  </div>
                  <div class="col-md-8">
                    <input type="text" name="customer[last_name]" id="LastName" class="input-full" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words" required>
                  </div>
                </div>

                <div class="row inline-form-row">
                  <div class="col-md-4">
                    <label for="CustomerEmail">{{ 'customer.login.email' | t }}</label>
                  </div>
                  <div class="col-md-8">
                    <input type="email" name="customer[email]" id="Email" class="input-full{% if form.errors contains 'email' %} error{% endif %}" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off" required email>
                  </div>
                </div>

                <div class="row inline-form-row">
                  <div class="col-md-4">
                    <label for="CustomerPassword">{{ 'customer.login.password' | t }}</label>
                  </div>
                  <div class="col-md-8">
                    <input type="password" value="" name="password" id="CustomerPassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}" required>
                  </div>
                  
                  
                </div>

                <div class="cta-container left-version">
                  <input type="submit" id="create_account" class="btn square-cta" value="{{ 'customer.login.create_account_title' | t }}">                                
                </div>
                
              {% endform %}
            </div>
          </div>
        </div>
      </div>
    </article>
    
    <script>
    $('#login-with-facebook').on("click", function(e){
      e.preventDefault();      

      FB.login(function(response) {
        if (response.authResponse) {
           console.log('Welcome!  Fetching your information.... ');
           FB.api('/me', {fields:'id,email,first_name,last_name,gender,birthday'}, function(response) {

             var birthday = "";

             if(typeof response.birthday !== 'undefined' && response.birthday !== null) {
                birthday = response.birthday;
             }

             window.location.href = 'http://clients.manic.com.sg/kindred/shopify_app/callback.php?email='+response.email+'&first_name='+response.first_name+'&last_name='+response.last_name+'&gender='+response.gender+'&birthday='+birthday;             

           });
        } else {
         alert('You have cancelled login or did not fully authorize.');
        }
      }, {scope: 'public_profile,email'});


    });

    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
    };

    var email = getUrlParameter('email');
    var password = getUrlParameter('password');

    console.log(email);
    console.log(password);

    if(email!=="" && password!=="") {
      $("#CustomerEmail").val(email);
      $("#CustomerPassword").val(password);

      $("#sign-in").trigger("click");
    }

    function scrollToElement(ele) {
        $(window).scrollTop(ele.offset().top).scrollLeft(ele.offset().left);
    }

    scrollToElement($("#page-login-content-section"));
    </script>