<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% if settings.favicon_enable %}
  <link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}" type="image/x-icon" />
  {% endif %}

  <!-- Title and description ================================================== -->
  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Helpers ================================================== -->
  {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  <!-- CSS ================================================== -->
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  {{ 'critical_style.css' | asset_url | stylesheet_tag }}
  {{ 'style.css' | asset_url | stylesheet_tag }}
  

  <!--  
    Muli: extra light
    Josefin Sans: light, regular, semibold
    Open Sans: regular, regular italic, semibold
  -->
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600|Muli:200|Open+Sans:400,400i,600" rel="stylesheet">


  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}
  {% include 'oldIE-js' %}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js' | script_tag }}
  {{ 'modernizr.min.js' | asset_url | script_tag }}

  {% comment %}
    If you store has customer accounts disabled, you can remove the following JS file
  {% endcomment %}
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

  <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' http://* 'unsafe-inline'; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'" />

</head>

{% comment %}
  Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

  
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '253558885069667',
        cookie     : true,
        xfbml      : true,
        version    : 'v2.8'
      });
      FB.AppEvents.logPageView();   
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>


  <div id="page-preloader"></div>
  

  <div id="NavDrawer" class="drawer drawer--left">
    <div class="drawer__header">
      <div class="drawer__title h3">{{ 'layout.drawers.browse' | t }}</div>
      <div class="drawer__close js-drawer-close">
        <button type="button" class="icon-fallback-text">
          <span class="icon icon-x" aria-hidden="true"></span>
          <span class="fallback-text">{{ 'layout.drawers.close_menu' | t }}</span>
        </button>
      </div>
    </div>
    <!-- begin mobile-nav -->
    <ul class="mobile-nav">
      <li class="mobile-nav__item mobile-nav__search">
        {% include 'search-bar' %}
      </li>
      {% for link in linklists.main-menu.links %}
        {% comment %}
          Create a dropdown menu by naming a linklist the same as a link in the parent nav

          More info on dropdowns:
            - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
        {% endcomment %}
        {% assign child_list_handle = link.title | handleize %}
        {% if linklists[child_list_handle].links != blank %}
          <li class="mobile-nav__item{% if link.active %} mobile-nav__item--active{% endif %}" aria-haspopup="true">
            <div class="mobile-nav__has-sublist">
              <a href="{{ link.url }}" class="mobile-nav__link">{{ link.title }}</a>
              <div class="mobile-nav__toggle">
                <button type="button" class="icon-fallback-text mobile-nav__toggle-open">
                  <span class="icon icon-plus" aria-hidden="true"></span>
                  <span class="fallback-text">See More</span>
                </button>
                <button type="button" class="icon-fallback-text mobile-nav__toggle-close">
                  <span class="icon icon-minus" aria-hidden="true"></span>
                  <span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span>
                </button>
              </div>
            </div>
            <ul class="mobile-nav__sublist">
              {% for childlink in linklists[child_list_handle].links %}
                <li class="mobile-nav__item {% if childlink.active %} mobile-nav__item--active{% endif %}">
                  <a href="{{ childlink.url }}" class="mobile-nav__link">{{ childlink.title | escape }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li class="mobile-nav__item{% if link.active %} mobile-nav__item--active{% endif %}">
            <a href="{{ link.url }}" class="mobile-nav__link">{{ link.title }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% comment %}
        If customer accounts are enabled, provide login and create account links
      {% endcomment %}
      {% if shop.customer_accounts_enabled %}
        {% if customer %}
          <li class="mobile-nav__item">
            {% if customer.first_name != blank %}
              {% capture first_name %}{{ customer.first_name }}{% endcapture %}
              <a href="/account">{{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}</a>
            {% else %}
              <a href="/account">{{ 'layout.customer.account' | t }}</a>
            {% endif %}
          </li>
          <li class="mobile-nav__item">
            {{ 'layout.customer.log_out' | t | customer_logout_link }}
          </li>
        {% else %}
          <li class="mobile-nav__item">
            {{ 'layout.customer.log_in' | t | customer_login_link }}
          </li>
          <li class="mobile-nav__item">
            {{ 'layout.customer.create_account' | t | customer_register_link }}
          </li>
        {% endif %}
      {% endif %}
    </ul>
    <!-- //mobile-nav -->
  </div>







  {% if settings.ajax_cart_method == "drawer" %}
    <div id="CartDrawer" class="drawer drawer--right">
      <div class="drawer__header">
        <div class="drawer__title">{{ 'cart.general.title' | t }}</div>
        <div class="drawer__close js-drawer-close">
          <button type="button" class="icon-fallback-text">
            <span class="icon icon-x" aria-hidden="true"></span>
            <span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span>
          </button>
        </div>
      </div>
      <div id="CartContainer"></div>
    </div>
  {% endif %}



  <!-- <div id="PageContainer" class="is-moved-by-drawer"> -->
  <div id="PageContainer">

    <header class="site-header" role="banner" style="display:none !important;">
      <div class="wrapper">

        <div class="grid--full grid--table">
          <div class="grid__item large--one-half">
            {% comment %}
              Use the uploaded logo from theme settings if enabled.
              Site name gets precedence with H1 tag on homepage, div on other pages.
            {% endcomment %}
            {% if template == 'index' %}
              <h1 class="site-header__logo large--left" itemscope itemtype="http://schema.org/Organization">
            {% else %}
              <div class="h1 site-header__logo large--left" itemscope itemtype="http://schema.org/Organization">
            {% endif %}
              {% if settings.logo_use_image %}
                <a href="/" itemprop="url" class="site-header__logo-link">
                  <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
                </a>
              {% else %}
                <a href="/" itemprop="url">{{ shop.name }}</a>
              {% endif %}
            {% if template == 'index' %}
              </h1>
            {% else %}
              </div>
            {% endif %}
          </div>
          <div class="grid__item large--one-half large--text-right medium-down--hide">
            {% comment %}
              Show number of items in the cart and total cost in the /cart link

              Ajax Cart Notes:
                - #cartCount updates the total number of items in the cart
                - #cartCost updates the total cost of the cart
                - Documentation:  http://shopify.com/timber#ajax-cart
            {% endcomment %}
            <div>
              <a href="/cart" class="site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">
                <span class="icon icon-cart" aria-hidden="true"></span>
                {{ 'layout.cart.title' | t }}
                (<span id="CartCount">{{ cart.item_count }}</span>
                {{ 'layout.cart.items_count' | t: count: cart.item_count }}
                <span id="CartCost">{{ cart.total_price | money }}</span>)
              </a>
            </div>

            {% comment %}
              If customer accounts are enabled, provide login and create account links
            {% endcomment %}
            {% if shop.customer_accounts_enabled %}
              <div>
                {% if customer %}
                  {% if customer.first_name != blank %}
                    {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
                    {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
                  {% else %}
                    <a href="/account">{{ 'layout.customer.account' | t }}</a>
                  {% endif %}
                  | {{ 'layout.customer.log_out' | t | customer_logout_link }}
                {% else %}
                  {{ 'layout.customer.log_in' | t | customer_login_link }}
                  | {{ 'layout.customer.create_account' | t | customer_register_link }}
                {% endif %}
              </div>
            {% endif %}

            <div class="site-header__search">
              {% include 'search-bar' %}
            </div>
          </div>
        </div>

      </div>
    </header>


    <!--
       _   _ _____    _    ____  _____ ____
      | | | | ____|  / \  |  _ \| ____|  _ \
      | |_| |  _|   / _ \ | | | |  _| | |_) |
      |  _  | |___ / ___ \| |_| | |___|  _ <
      |_| |_|_____/_/   \_\____/|_____|_| \_\

    -->

    <div id="desktop-header-spacer"></div>
    <header id="desktop-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-7">

            <div id="desktop-header-left-container">
              <div id="desktop-header-logo-container">
                <a href="https://kindredteas.com/" id="desktop-header-logo"></a>
              </div>


              
              <div id="desktop-header-menu">
                <nav>
                  <ul>
                    {% for link in linklists.main-menu.links %}
                      {% comment %}
                        Create a dropdown menu by naming a linklist the same as a link in the parent nav

                        More info on dropdowns:
                          - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
                      {% endcomment %}
                      {% assign child_list_handle = link.title | handleize %}
                      {% if linklists[child_list_handle].links != blank %}
                        <li class="{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
                          <a href="{{ link.url }}">
                            {{ link.title }}
                          </a>
                          <ul>
                            {% for childlink in linklists[child_list_handle].links %}
                              <li{% if childlink.active %} class="site-nav--active"{% endif %}>
                                <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                              </li>
                            {% endfor %}
                          </ul>
                        </li>
                      {% else %}
                        <li {% if link.active %}class="site-nav--active"{% endif %}>
                          <a href="{{ link.url }}">{{ link.title }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                  
                  <!-- 
                  <ul>
                    <li>
                      <a href="">About</a>
                      <ul>
                        <li><a href="">About Kindred</a></li>
                        <li><a href="">Collaboration</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="https://kindredteas.com/collections/tea-store">Our Teas</a>
                      <ul>
                        <li><a href="https://kindredteas.com/collections/tea-store">Tea Store</a></li>
                        <li><a href="https://kindredteas.com/collections/teaware">Teaware</a></li>
                        <li><a href="https://kindredteas.com/collections/gifts">Gifts</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="">Support</a>
                      <ul>
                        <li><a href="">FAQ</a></li>
                        <li><a href="">Shipping Info</a></li>
                        <li><a href="">Returns & Exhanges</a></li>
                      </ul>
                    </li>
                    <li><a href="">Contact Us</a></li>
                  </ul>
                  -->
                </nav>
              </div>
            </div>

          </div> <!-- col-md-7 -->
          <div class="col-md-5">

            <div id="desktop-header-right-container">


              <div id="desktop-header-search-container" data-search-placeholder="{{ 'general.search.placeholder' | t }}">
                <form id="desktop-header-search-form" action="/search" method="get" class="input-group search-bar" role="search">
                  {% comment %}<input type="hidden" name="type" value="product">{% endcomment %}
                  <input type="search" name="q" value="{{ search.terms | escape }}" class="input-group-field" aria-label="{{ 'general.search.placeholder' | t }}">
                </form>
                <div id="desktop-header-search-button"></div>
              </div>
              
              <div id="desktop-menu-currency-container">

                {% assign codes = 'USD,EUR,GBP,CAD,ARS,AUD,BBD,BDT,BSD,BHD,BRL,BOB,BND,BGN,ILS,MMK,KYD,CLP,CNY,COP,CRC,HRK,CZK,DKK,DOP,XCD,EGP,XPF,FJD,GHS,GTQ,GYD,GEL,HKD,HUF,ISK,INR,IDR,NIS,JMD,JPY,JOD,KZT,KES,KWD,LVL,LTL,MXN,MYR,MUR,MDL,MAD,MNT,MZN,ANG,NZD,NGN,NOK,OMR,PKR,PYG,PEN,PHP,PLN,QAR,RON,RUB,SAR,RSD,SCR,SGD,SYP,ZAR,KRW,LKR,SEK,CHF,TWD,THB,TZS,TTD,TRY,UAH,AED,UYU,VEB,VND,ZMK' | split: ',' %}
                {% assign name_codes = 'US Dollar,Euro,Pound Sterling,Canadian Dollar,Argentine Peso,Australian Dollar,Barbados Dollar,Bangladeshi Taka,Bahamian Dollar,Bahraini Dinar,Brazilian Real,Boliviano,Brunei Dollar,Bulgarian Lev,Israeli New Shekel,Myanmar Kyat,Cayman Islands Dollar,Chilean Peso,Yuan Renminbi,Colombian Peso,Costa Rican Colon,Croatian Kuna,Czech Koruna,Danish Krone,Dominican Peso,East Caribbean Dollar,Egyptian Pound,CFP Franc,Fiji Dollar,Ghanaian Cedi,Guatemala Quetzal,Guyana Dollar,Georgian Lari,Hong Kong Dollar,Hungarian Forint,Iceland Krona,Indian Rupee,Indonesian Rupiah,Israeli New Shekel,Jamaican Dollar,Japanese Yen,Jordanian Dinar,Kazakhstan Tenge,Kenyan Shilling,Kuwaiti Dinar,Latvian Lats,Lithuanian Litas,Mexican Nuevo Peso,Malaysian Ringgit,Mauritius Rupee,Moldovan Leu,Moroccan Dirham,Mongolian Tugrik,Mozambique Metical,Netherlands Antillean Guilder,New Zealand Dollar,Nigerian Naira,Norwegian Krone,Omani Rial,Pakistan Rupee,Paraguay Guarani,Peruvian Nuevo Sol,Philippine Peso,Polish Zloty,Qatari Rial,Romanian New Leu,Russian Ruble,Saudi Riyal,Dinar,Seychelles Rupee,Singapore Dollar,Syrian Pound,South African Rand,Korean Won,Sri Lanka Rupee,Swedish Krona,Swiss Franc,Taiwan Dollar,Thai Baht,Tanzanian Shilling,Trinidad and Tobago Dollar,Turkish Lira,Ukraine Hryvnia,Arab Emirates Dirham,Uruguayan Peso,Venezuelan Bolivar,Vietnamese Dong,Zambian Kwacha' | split: ',' %}
                {% assign supported_codes = settings.supported_currencies | split: ' ' %}


                <p id="desktop-menu-currency-btn"><span class="selected-currency">{{ shop.currency }}</span> currency</p>
                
                <div id="desktop-menu-currency-item-container-container">
                  <div id="desktop-menu-currency-item-container">
                    {% for code in supported_codes %}
                      {% for code_item in codes %}
                        {% if code_item == code %}
                          {% if code == shop.currency %}
                            <div class="desktop-menu-currency-item selected" data-value="{{ code }}"><span>{{ code }}</span>{{ name_codes[forloop.index0] }}</div>
                          {% else %}
                            <div class="desktop-menu-currency-item" data-value="{{ code }}"><span>{{ code }}</span>{{ name_codes[forloop.index0] }}</div>
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                    {% endfor %}
                  </div>
                </div>

                
                <label class="currency-picker__wrapper">
                  <!-- <span class="currency-picker__label">Pick a currency</span> -->

                  <select class="currency-picker" name="currencies" style="display: inline; width: auto; vertical-align: inherit;">
                  

                  {% for code in supported_codes %}

                    {% for code_item in codes %}
                      {% if code_item == code %}
                        

                        {% if code == shop.currency %}
                          <option value="{{ code }}" selected="selected">{{ name_codes[forloop.index0] }}</option>
                        {% else %}
                          <option value="{{ code }}">{{ name_codes[forloop.index0] }}</option>
                        {% endif %}


                      {% endif %}
                    {% endfor %}

                    
                  {% endfor %}


                  </select>
                </label>

              </div> <!-- desktop-menu-currency-container -->


              <div id="desktop-menu-account-login-container">
                <span class="account-icon"></span>

                {% comment %}
                  If customer accounts are enabled, provide login and create account links
                {% endcomment %}
                {% if shop.customer_accounts_enabled %}
                  {% if customer %}

                    
                    {% if customer.first_name != blank %}
                      {% capture first_name %}{{ customer.first_name }}{% endcapture %}
                      <!-- <a href="/account">{{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}</a> -->
                      <a href="/account">{{ customer.first_name }}</a>

                    {% else %}
                      <a href="/account">{{ 'layout.customer.account' | t }}</a>
                    {% endif %}

                    <span class="seperator">|</span>

                    {{ 'layout.customer.log_out' | t | customer_logout_link }}

                  {% else %}

                    {{ 'layout.customer.log_in' | t | customer_login_link }}
                    <!-- <span class="seperator">|</span> -->
                    <!-- {{ 'layout.customer.create_account' | t | customer_register_link }} -->

                  {% endif %}
                {% endif %}
                
              </div> <!-- desktop-menu-account-login-container -->



              <div id="desktop-menu-cart-container">
                <a href="/cart" class="js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">
                  <span class="cart-icon"></span>
                  <span class="cart-text">{{ cart.total_price | money }} ({{ cart.item_count }})</span>
                </a>
              </div>

            </div> <!-- desktop-header-right-container -->

          </div> <!-- col-md-5 -->
        </div> <!-- row -->

      </div>
    </header>

    <!--
       _   _ _____    _    ____  _____ ____    _____ _   _ ____
      | | | | ____|  / \  |  _ \| ____|  _ \  | ____| \ | |  _ \
      | |_| |  _|   / _ \ | | | |  _| | |_) | |  _| |  \| | | | |
      |  _  | |___ / ___ \| |_| | |___|  _ <  | |___| |\  | |_| |
      |_| |_|_____/_/   \_\____/|_____|_| \_\ |_____|_| \_|____/

    -->


    <nav class="nav-bar" role="navigation" style="display:none !important;">
      <div class="wrapper">
        <div class="medium-down--hide">
          {% comment %}
            List out your main-menu linklist (default)

            More info on linklists:
              - http://docs.shopify.com/themes/liquid-variables/linklists
          {% endcomment %}
          <!-- begin site-nav -->
          <ul class="site-nav" id="AccessibleNav">
            {% for link in linklists.main-menu.links %}
              {% comment %}
                Create a dropdown menu by naming a linklist the same as a link in the parent nav

                More info on dropdowns:
                  - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
              {% endcomment %}
              {% assign child_list_handle = link.title | handleize %}
              {% if linklists[child_list_handle].links != blank %}
                <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
                  <a href="{{ link.url }}" class="site-nav__link">
                    {{ link.title }}
                    <span class="icon icon-arrow-down" aria-hidden="true"></span>
                  </a>
                  <ul class="site-nav__dropdown">
                    {% for childlink in linklists[child_list_handle].links %}
                      <li{% if childlink.active %} class="site-nav--active"{% endif %}>
                        <a href="{{ childlink.url }}" class="site-nav__link">{{ childlink.title | escape }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              {% else %}
                <li {% if link.active %}class="site-nav--active"{% endif %}>
                  <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
          <!-- //site-nav -->
        </div>
        <div class="large--hide medium-down--show">
          <div class="grid">
            <div class="grid__item one-half">
              <div class="site-nav--mobile">
                <button type="button" class="icon-fallback-text site-nav__link js-drawer-open-left" aria-controls="NavDrawer" aria-expanded="false">
                  <span class="icon icon-hamburger" aria-hidden="true"></span>
                  <span class="fallback-text">{{ 'layout.navigation.menu' | t }}</span>
                </button>
              </div>
            </div>
            <div class="grid__item one-half text-right">
              <div class="site-nav--mobile">
                <a href="/cart" class="js-drawer-open-right site-nav__link" aria-controls="CartDrawer" aria-expanded="false">
                  <span class="icon-fallback-text">
                    <span class="icon icon-cart" aria-hidden="true"></span>
                    <span class="fallback-text">{{ 'layout.cart.title' | t }}</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>





    <div class="main-content" role="main">
      {{ content_for_layout }}
    </div>

    <!-- begin site-footer -->
    <footer class="site-footer small--text-center" role="contentinfo" style="display:none !important">
      <div class="wrapper">
        <div class="grid">
          {% if settings.footer_social_enable %}
            <div class="grid__item large--one-third medium--one-half">
              <h3>{{ 'layout.footer.social_title' | t }}</h3>
                <ul class="inline-list social-icons">
                  {% if settings.social_twitter_link != blank %}
                    <li>
                      <a class="icon-fallback-text" href="{{ settings.social_twitter_link }}" title="{{ shop.name }} on Twitter">
                        <span class="icon icon-twitter" aria-hidden="true"></span>
                        <span class="fallback-text">Twitter</span>
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.social_facebook_link != blank %}
                    <li>
                      <a class="icon-fallback-text" href="{{ settings.social_facebook_link }}" title="{{ shop.name }} on Facebook">
                        <span class="icon icon-facebook" aria-hidden="true"></span>
                        <span class="fallback-text">Facebook</span>
                      </a>
                    </li>
                  {% endif %}
                </ul>
            </div>
          {% endif %}
          {% if settings.footer_newsletter_enable %}
            <div class="grid__item large--one-third push--large--one-third medium--one-half">
              {% comment %}
                MailChimp is the go-to newsletter service for Shopify.
                Use the link below to find your MailChimp form action
                and insert it in your site settings.

                If the form action URL is not set in the theme settings,
                it will fallback to a customer form so you can still capture the email.

                MailChimp newsletter integration and requirement:
                 - http://docs.shopify.com/support/configuration/store-customization/where-do-i-get-my-mailchimp-form-action
              {% endcomment %}
              <h3>{{ 'layout.footer.newsletter_title' | t }}</h3>
              {% if settings.newsletter_form_action != blank %}
                <form action="{{ settings.newsletter_form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="input-group">
                  <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="EMAIL" id="mail" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
                  <input type="hidden" name="b_cb98e62f512d0d125cec95dd3_9ea7cd6c41" tabindex="-1" value="">
                  <span class="input-group-btn">
                    <input type="submit" class="btn" name="subscribe" id="subscribe" value="{{ 'general.newsletter_form.submit' | t }}">
                  </span>
                </form>
              {% else %}
                {% form 'customer' %}
                  {{ form.errors | default_errors }}
                  {% if form.posted_successfully? %}
                    <p class="note form-success">{{ 'general.newsletter_form.confirmation' | t }}</p>
                  {% else %}
                    <div class="input-group">
                      <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="contact[email]" id="Email" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
                      <input type="hidden" name="contact[tags]" value="newsletter">
                      <span class="input-group-btn">
                        <input type="submit" class="btn" name="subscribe" id="subscribe" value="{{ 'general.newsletter_form.submit' | t }}">
                      </span>
                    </div>
                  {% endif %}
                {% endform %}
              {% endif %}

            </div>
          {% endif %}
          <div class="grid__item text-center">
            <hr>
            {% comment %}
              Loop through available payment methods and show their icons.
            {% endcomment %}
            {% unless shop.enabled_payment_types == empty %}
              {% assign payment_icons_available = 'amazon_payments,american_express,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,litecoin,maestro,master,paypal,visa' | split: ',' %}
              <h4 class="text-center">{{ 'layout.footer.accepted_payments' | t }}</h4>
              <ul class="inline-list payment-icons">
                {% for type in shop.enabled_payment_types %}
                  {% if payment_icons_available contains type %}
                    <li>
                      <span class="icon-fallback-text">
                        <span class="icon icon-{{type}}" aria-hidden="true"></span>
                        <span class="fallback-text">{{ type | replace: '_',' '}}</span>
                      </span>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            {% endunless %}
            <a href="http://shopify.com/timber">Timber Theme Framework</a> by <a href="http://www.shopify.com?ref=Timber" title="Shopify.com">Shopify</a><br>
            <small>{{ powered_by_link }}</small>
          </div>
        </div>
      </div>
    </footer>






    <footer id="desktop-footer">
      <div class="container-fluid has-breakpoint">
        <div class="row">
          <div class="col-md-3">
            <div id="desktop-footer-logo-container">
              <a href="" id="desktop-footer-logo"></a>
            </div>
          </div>
          <div class="col-md-5">
            <div id="desktop-footer-menu">
              <nav>
                <ul>
                  {% for link in linklists.footer.links %}
                    {% comment %}
                      Create a dropdown menu by naming a linklist the same as a link in the parent nav

                      More info on dropdowns:
                        - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
                    {% endcomment %}
                    {% assign child_list_handle = link.title | handleize %}
                    {% if linklists[child_list_handle].links != blank %}
                      <li class="{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
                        <a href="{{ link.url }}">
                          {{ link.title }}
                        </a>
                      </li>
                    {% else %}
                      <li {% if link.active %}class="site-nav--active"{% endif %}>
                        <a href="{{ link.url }}">{{ link.title }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}

                  <!-- 
                  <li><a href="javascript:void(0);">About</a></li>
                  <li><a href="javascript:void(0);">News</a></li>
                  <li><a href="javascript:void(0);">My Account</a></li>
                  <li><a href="https://kindredteas.com/collections/tea-store">Our Teas</a></li>
                  <li><a href="javascript:void(0);">FAQS</a></li>
                  <li><a href="javascript:void(0);">Contact Us</a></li>
                  <li><a href="https://kindredteas.com/collections/tea-store">Tea Store</a></li>
                  <li><a href="javascript:void(0);">Locate</a></li>
                  <li><a href="javascript:void(0);">Terms & Privacy</a></li>
                   -->
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-md-1">
            <div id="desktop-footer-seperator">
            </div>
          </div>
          <div class="col-md-3">

            <div id="desktop-footer-right-container">

              {% if settings.newsletter_form_action != blank %}


                <form action="{{ settings.newsletter_form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
                  <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email_placeholder' | t }}" name="EMAIL" id="mail" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
                  <input type="hidden" name="b_cb98e62f512d0d125cec95dd3_9ea7cd6c41" tabindex="-1" value="">
                  <button type="submit" name="subscribe" id="subscribe"></button>
                </form>

              {% else %}
                {% form 'customer' %}
                  {{ form.errors | default_errors }}
                  {% if form.posted_successfully? %}
                    <p class="note form-success">{{ 'general.newsletter_form.confirmation' | t }}</p>
                  {% else %}

                    <!-- ??? -->
                    <form action="{{ settings.newsletter_form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
                      <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email_placeholder' | t }}" name="contact[email]" id="Email" aria-label="{{ 'general.newsletter_form.newsletter_email_placeholder' | t }}" autocorrect="off" autocapitalize="off">
                      <button type="submit" name="subscribe" id="subscribe"></button>
                    </form>

                  {% endif %}
                {% endform %}
              {% endif %}


              

              <div id="desktop-footer-social-container">
                <h4>Follow us</h4>
                <ul>

                  {% if settings.social_facebook_link != blank %}
                    <li><a href="{{ settings.social_facebook_link }}" class="fa fa-facebook" title="{{ shop.name }} on Facebook" target="_blank"></a></li>
                  {% endif %}

                  {% if settings.social_twitter_link != blank %}
                    <li><a href="{{ settings.social_twitter_link }}" class="fa fa-twitter" title="{{ shop.name }} on Twitter" target="_blank"></a></li>
                  {% endif %}

                  {% if settings.social_instagram_link != blank %}
                    <li><a href="{{ settings.social_instagram_link }}" class="fa fa-instagram" title="{{ shop.name }} on Instagram" target="_blank"></a></li>
                  {% endif %}
                  
                  {% if settings.social_pinterest_link != blank %}
                    <li><a href="{{ settings.social_pinterest_link }}" class="fa fa-pinterest" title="{{ shop.name }} on Pinterest" target="_blank"></a></li>
                  {% endif %}


                  <!-- 
                  <li><a href="javascript:void(0);" class="fa fa-instagram"></a></li>
                  <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                  <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                  <li><a href="javascript:void(0);" class="fa fa-pinterest"></a></li>
                  -->

                </ul>
              </div> <!-- desktop-footer-social-container -->

            </div> <!-- desktop-footer-right-container -->


          </div>

        </div>
      </div>
    </footer>




    

    

    <!-- //site-footer -->
  </div>








  {{ 'fastclick.min.js' | asset_url | script_tag }}
  {{ 'timber.js' | asset_url | script_tag }}

  {% comment %}
    Template-specific js
  {% endcomment %}
  <script>
    {% if resetPassword %}
      $(function() {
        timber.resetPasswordSuccess();
      });
    {% endif %}
  </script>

  {% comment %}
    Ajaxify your cart with this plugin.
    Documentation:
      - http://shopify.com/timber#ajax-cart
  {% endcomment %}
  {% if settings.ajax_cart_method == "drawer" %}
    {{ 'handlebars.min.js' | asset_url | script_tag }}
    {% include 'ajax-cart-template' %}
    {{ 'ajax-cart.js' | asset_url | script_tag }}
    <script>
      jQuery(function($) {
        ajaxCart.init({
          formSelector: '#AddToCartForm',
          cartContainer: '#CartContainer',
          addToCartSelector: '#AddToCart',
          cartCountSelector: '#CartCount',
          cartCostSelector: '#CartCost',
          moneyFormat: {{ shop.money_format | json }}
        });
      });

      jQuery(document.body).on('afterCartLoad.ajaxCart', function(evt, cart) {
        // Bind to 'afterCartLoad.ajaxCart' to run any javascript after the cart has loaded in the DOM
        timber.RightDrawer.open();

        
      });
    </script>
  {% endif %}


  {{ 'head.load.min.js' | asset_url | script_tag }}
  
  <script type="text/javascript">
    var PAGE_LIBRARY        = "{{ 'page-libraries.min.js' | asset_url }}";
    var PAGE_JS             = "{{ 'page-default.min.js' | asset_url }}";
    // prevent variable override
    window.custom_head = head;

    window.custom_head.load(PAGE_LIBRARY, function() {
      window.custom_head.load(PAGE_JS, function() {
        window.page = new kindred.page.Default({});
      });
    });
  </script>

  {% include 'currencies' %}
  
</body>
</html>
